---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead />

		<title>Acceptable Use | AleForge</title>
		<meta name="description" content="What you can and can't do with our services here at AleForge." />
		<meta name="robots" content="index, follow" />
		<meta name="googlebot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
		<meta name="bingbot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
		<meta property="og:locale" content="en_US" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="canonical" href="https://aleforge.net/acceptable-use" />
	</head>
	<body>
		<div class="top-bg">
			<Header />
			<div id="banner" class="subbanner about-banner">
				<div class="container">
					<span class="gslink">Legal Info</span>
					<h1>Acceptable Use</h1>
					<div class="subnav">
						<ul>
							<li><a href="/privacy-policy" id="snav-2">Privacy Policy</a></li>
							<li class="active"><a href="/acceptable-use" id="snav-3">Acceptable Use Policy</a></li>
							<li><a href="/terms-of-service" id="snav-5">Terms of Service</a></li>
							<li><a href="/refund-policy" id="snav-4">Refund Policy</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<section class="text-page">
			<div class="container">
				<p><strong>Please read these policies before your purchase.</strong></p>

				<p>
					This Acceptable Use Policy governs the use of AleForge’s services. Violation of this policy may result in suspension or termination of your service. In the event of a dispute between you and AleForge regarding the interpretation of this policy, AleForge’s interpretation, in its reasonable commercial judgment,
					shall govern.
				</p>
				<p>If you have any questions regarding this policy, contact AleForge’s legal department at support@aleforge.net.</p>

				<p><strong><b>Offensive Content</b></strong></p>
				<p>You may not publish or transmit via AleForge’s service any content that AleForge reasonably believes:</p>
				<ul>
					<li>constitutes child pornography;</li>
					<li>is excessively violent, incites violence, threatens violence, or contains harassing content or hate speech;</li>
					<li>is unfair or deceptive under the consumer protection laws of any jurisdiction, including chain letters and pyramid schemes;</li>
					<li>is defamatory or violates a person’s privacy;</li>
					<li>creates a risk to a person’s or the public safety or health, compromises national security, or interferes with an investigation by law enforcement;</li>
					<li>improperly exposes trade secrets or other confidential or proprietary information of another person;</li>
					<li>is intended to assist others in defeating technical copyright protections;</li>
					<li>clearly infringes on another person’s trade or service mark, patent, or other property rights;</li>
					<li>promotes illegal drugs, violates export control laws, relates to illegal gambling, or illegal arms trafficking;</li>
					<li>is otherwise illegal or solicits conduct that is illegal under laws applicable to you or to AleForge; or</li>
					<li>is otherwise malicious, fraudulent, or may result in retaliation against AleForge by offended viewers;</li>
				</ul>
				<p><strong>Vexation &amp; Harassment</strong></p>
				<p>AleForge does not tolerate any harassment, malice, or abuse towards its employees or subsidiaries. Any form of harassment, cursing, threats, or ill will directed towards AleForge staff or authorized agents shall not be tolerated.</p>
				<p>The Customer agrees to conduct themselves in a professional manner regardless of the method of communication with AleForge. Should the Customer be found in violation of this clause AleForge reserves the right to suspend or terminate services with or without prior notice and without liability.</p>
				<p><strong>Resource Usage</strong></p>
				<p>AleForge Customers may not initiate the following practices. AleForge reserves the right to suspend or terminate accounts found in violation of these items with or without prior notice given and without liability.</p>
				<p>
					AleForge reserves the right to determine what constitutes resource abuse and take the appropriate action. Please see the below list for specific restrictions for the packages listed below. Unless otherwise specified all portions of the Acceptable Use Policy apply to the below services including the additional
					items listed.
				</p>
				<p><strong>Shared Cloud Accounts:</strong></p>
				<ol>
					<li>Reference for current resource limits:&nbsp;Shared Limits</li>
					<li>Accounts may not be used for file storage, database storage, media storage and streaming, computer backups or archival purposes.</li>
					<li>Each account may execute no more than 100 processes at any given time.</li>
					<li>Each account is limited to a maximum execution time of 60 seconds for processes.</li>
					<li>Each MySQL query is limited to a maximum execution time of 30 seconds.</li>
					<li>Each account is restricted from operating any back end services or servers that require a process to remain running for longer than 60 seconds.</li>
					<li>Each account is limited to a maximum of 100 emails sent per hour.</li>
				</ol>
				<p><strong>Reseller Cloud Accounts:</strong></p>
				<ol>
					<li>Each account &amp; resold account has a maximum of 200,000 inodes and a maximum combined 1024 IOPS disk performance.</li>
					<li>Accounts may not be used for file storage, media storage and streaming, computer backups or archival purposes.</li>
					<li>Each account &amp; resold account may execute no more than 100 processes at any given time.</li>
					<li>Each account &amp; resold account is limited to a maximum execution time of 60 seconds for processes.</li>
					<li>Each MySQL query is limited to a maximum execution time of 30 seconds.</li>
					<li>Each account &amp; resold account is restricted from operating any back end services or servers that require a process to remain running for longer than 60 seconds.</li>
					<li>Each account &amp; resold account is limited to a maximum of 100 emails sent per hour.</li>
				</ol>
				<p><strong>Managed WordPress Accounts:</strong></p>
				<ol>
					<li>Each WordPress account is allowed a maximum CPU usage equivalent to 25% of one CPU core.</li>
					<li>Each account will have access to a maximum combined usage of 1024MB of memory and a maximum of 128MB per process.</li>
					<li>Each account has a maximum of 250,000 inodes and a maximum combined 1024 IOPS disk performance.</li>
					<li>Accounts may not be used for file storage, media storage and streaming, computer backups or archival purposes.</li>
					<li>Each account may execute no more than 100 processes at any given time.</li>
					<li>Each account is limited to a maximum execution time of 60 seconds for processes.</li>
					<li>Each MySQL query is limited to a maximum execution time of 30 seconds.</li>
					<li>Each account is restricted from operating any back end services or servers that require a process to remain running for longer than 60 seconds.</li>
					<li>Each account is limited to a maximum of 100 emails sent per hour.</li>
					<li>WordPress accounts are designed for WordPress hosting only. No other software installs will be supported.</li>
				</ol>
				<p><strong>External Storage</strong></p>
				<p>
					AleForge external storage packages are for storing account backup and server restoration data only. External storage packages may not be used for but not limited to content delivery networks, file exchange, and download sites, torrents or other bulk delivery services. All external storage packages are still bound
					and limited by our Terms of Service and AUP.
				</p>
				<p><strong>Network Abuse</strong></p>
				<p>AleForge does not allow, condone or authorize any forms of network abuse including but not limited to denial-of-service attacks, phishing attempts, port scans, SYN Floods, etc.</p>
				<p>AleForge reserves full right to determine what constitutes network abuse and take the appropriate action against the Customer with or without prior notification and without liability.</p>
				<p>You may not engage in illegal, abusive, or irresponsible behavior, including but not limited to:</p>
				<ul>
					<li>
						Unauthorized access to or use of data, systems or networks, including any attempt to probe, scan or test the vulnerability of a system or network or to breach security or authentication measures (including those belonging to AleForge and its customers) without express authorization of the owner of the system or
						network;
					</li>
					<li>Monitoring data or traffic on any network or system without the authorization of the owner of the system or network;</li>
					<li>Interference with service to any user, host or network including, without limitation, mail bombing, flooding, deliberate attempts to overload a system and broadcast attacks;</li>
					<li>Use of an Internet account or computer without the owner’s authorization, including, but not limited to Internet scanning (tricking other people into releasing their passwords), password robbery, security hole scanning, and port scanning;</li>
					<li>Forging of any TCP-IP packet header or any part of the header information in an email or a newsgroup posting;</li>
					<li>Any conduct that is likely to result in retaliation against the AleForge network.</li>
					<li>Use of AleForge’s network in a way that unreasonably interferes with AleForge’s other customers use of the network.</li>
				</ul>
				<p><strong>IP Addresses</strong></p>
				<p>
					AleForge assigns IP addresses to clients based upon the guidelines of ARIN: https://www.arin.net/policy/nrpm.html All IP Address allocations must be justified based upon this policy. AleForge reserves the right to request verification at any time for assigned IP addresses at which time under AleForge’s discretion
					IP assignments may be revoked.
				</p>
				<p><strong>Prohibited Materials and Services</strong></p>
				<p>AleForge does not accept material such as:</p>
				<ul>
					<li>Public proxy, torrents, tor, warez, escrow, high yield investment programs (HYIP), illegal gambling and lottery sites or services.</li>
					<li>Any software that interfaces with an (IRC) Internet Relay Chat network.</li>
					<li>Distributed computing software such as SETI@home or coin miners.*</li>
					<!-- <li>Gaming servers such as Battlefield, Minecraft, Counter-Strike, etc.*</li> -->
					<li>Run any file sharing, bit torrent or other P2P network services, client or server software.</li>
				</ul>
				<p>* Items marked are allowed on our VPS and Dedicated Server product line</p>
				<p>Content “published or transmitted” via AleForge’s service includes Web content, email, bulletin board postings, chat, and any other type of posting or transmission that relies on any service provided by AleForge.</p>
				<p>AleForge can terminate service for any of the above reasons and it’s at AleForge sole discretion to issue a refund.</p>
				<p><strong>Security</strong></p>
				<p>
					The customer takes full responsibility for maintaining reasonable security precautions for your account. You are responsible for protecting and updating any login account provided to you for AleForge systems. You must protect the confidentiality of your password, and you should change your password periodically.
					You are responsible for ensuring all customer-provided software installed is updated and patched following industry best practice. AleForge makes no warranty express or implied for the security and operability of 3rd party software or scripts installed on your server.
				</p>
				<p><strong>Bulk Commercial Email</strong></p>
				<p>
					Any kind of bulk emailing is strictly prohibited with shared or reseller hosting. With VPS, cloud or dedicated hosting you must obtain AleForge’s advance approval for any bulk commercial email, which will not be given unless you are able to demonstrate all of the following to AleForge’s reasonable satisfaction:
				</p>
				<ul>
					<li>AleForge does not provide servers for the sole purpose of bulk emails. Software such as PMTA is expressly prohibited.</li>
					<li>All bulk emailing must be limited to send no more than 60 emails per minute.</li>
					<li>Your intended recipients have given their consent to receive email via some affirmative means, such as an opt-in procedure;</li>
					<li>Your procedures for soliciting consent include reasonable means to ensure that the person giving consent is the owner of the email address for which the consent is given;</li>
					<li>You retain evidence of the recipient’s consent in a form that may be promptly produced on request, and you honor recipient’s and AleForge’s requests to produce consent evidence within 72 hours of receipt of the request.</li>
					<li>
						You have procedures in place that allow a recipient to easily revoke their consent – such as a link in the body of the email, or instructions to reply with the word “Remove” in the subject line. Revocations of consent are honored within 72 hours, and you notify recipients that the revocation of their consent will
						be honored in 72 hours;
					</li>
					<li>You must have a privacy policy posted for each domain associated with the mailing;</li>
					<li>You have the means to track anonymous complaints;</li>
					<li>You may not obscure the source of your email in any manner. Your email must include the recipient’s email address in the body of the message or in the “TO” line of the email, and you otherwise comply with the CAN-SPAM Act and other applicable law.</li>
				</ul>
				<p>
					These policies apply to messages sent using your AleForge service, or to messages sent from any network by you or any person on your behalf that directly or indirectly refer the recipient to a site hosted via your AleForge service. In addition, you may not use a third-party email service that does not practice
					similar procedures for all its customers.
				</p>
				<p>AleForge may test and otherwise monitor your compliance with its requirements, including requesting opt-in information from a random sample of your list at any time.</p>
				<p><strong>Unsolicited Email</strong></p>
				<p>You may not send any unsolicited email, either in bulk or individually, to any person who has indicated that they do not wish to receive it.</p>
				<p>You must comply with the rules of any other network you access or participate in using your AleForge’s services.</p>
				<p><strong>Material Protected by Copyright</strong></p>
				<p>You may not publish, distribute, or otherwise copy in any manner any music, software, art, or other work protected by copyright law unless:</p>
				<ul>
					<li>you have been expressly authorized by the owner of the copyright for the work to copy the work in that manner;</li>
					<li>you are otherwise permitted by established United States copyright law to copy the work in that manner.</li>
				</ul>
				<p>AleForge will terminate the service of Customers with repeated copyright infringements.</p>
				<p><strong>Copyright Infringement Notice (Digital Millennium Copyright Act)</strong></p>
				<p>If you believe your copyright is being infringed by a person using the AleForge network, please send your written notice of copyright infringement to:</p>
				<p>Copyright Agent<br />c/o AleForge LLC<br />PO Box 1287<br />Oakwood, GA 3.566<br />Email: abuse@aleforge.net</p>
				<p>Your notice must include the following:</p>
				<ul>
					<li>A physical or electronic signature of a person authorized to act on behalf of the owner of an exclusive right that is allegedly infringed;</li>
					<li>Identification of the copyrighted work claimed to have been infringed, or if multiple copyrighted works at a single site are covered by a single notification, a representative list of such works at that site;</li>
					<li>Identification of the material that is claimed to be infringing or to be the subject of infringing activity and that is to be removed or access to which is to be disabled, and information reasonably sufficient to permit AleForge to locate the material;</li>
					<li>Information reasonably sufficient to permit AleForge to contact you, such as an address, telephone number, and, if available, an email address;</li>
					<li>A statement that you have a good faith belief that use of the material in the manner complained of is not authorized by the copyright owner, the copyright owner’s agent, or the law;</li>
					<li>A statement that the information in the notification is accurate, and under penalty of perjury that you are authorized to act on behalf of the owner of an exclusive right that is allegedly infringed.</li>
				</ul>
				<p><strong>Abuse Tickets</strong></p>
				<p>
					AleForge standard policy is to contact the Customer during which a violation of the AUP or TOS has occurred, however, AleForge does reserve the right to suspend or terminate any account with or without notice at its own discretion. The Customer agrees to maintain up to date primary contact email information with
					AleForge. The violation shall be listed in the Subject of the email sent from our abuse department (abuse@aleforge.net). The Customer shall be given all appropriate details of the Violation as well as a time frame to correct the issue before action shall be taken. Once the email has been sent to the Customer,
					AleForge will consider that the Customer has been notified. AleForge reserves the right to use discretion on the amount of time given for a customer to correct the issue before action is taken.
				</p>
				<p>
					For example, A violation containing a “Phishing” site is lodged against the customer, the offending files will be immediately disabled and the customer will be given 24 hours to clean and secure the site. If after 24 hours the Customer has not replied confirming they have taken action, further action may be taken
					such as suspending the individual site and/or suspending the entire VPS or dedicated Server.
				</p>
				<p>
					For example, A violation resulting in a “Spam” complaint. We shall investigate the complaint to determine how the spam is being sent. We shall provide a best-effort analysis to locate the source of the spam. If for example it is being sent from a script, we shall attempt to disable that script and notify The
					Customer. If it is being sent from an individual account, if possible, we will attempt to disable password access to that account. We shall then notify the customer giving them 24 hours to investigate the complaint and provide a resolution to the abuse complaint. Should we be unable to isolate and/or disable the
					source of the “Spam” we may place an SMTP filter against The Customer’s service to prevent additional emails from being sent out until at which time a resolution to the issue is made. If after 24 hours no response has been received from the customer, additional steps may be taken to ensure the “Spam” has been
					stopped such as system-wide SMTP filters, suspension of individual sites, disabling password access to certain accounts, disabling of scripts or as a final step suspension of all services.
				</p>
				<p>
					For example, A violation resulting from “Resource Abuse”. We shall investigate the resource abuse and provide the Customer with a best-effort analysis of the problem causing the resource abuse. At which time the Customer will be given a time frame to make the corrections to their code, scripts, MySQL queries or
					software services running. If the issue is not corrected within the time frame given, AleForge will then take further steps to ensure the stability of the network and servers and may take actions including but not limited to disabling plugins, themes, accounts, scripts, services and in reserves the right to issue
					a full service suspension depending on the severity of the issue based upon AleForge’s judgment of the scenario.
				</p>
				<p>None of the above examples are meant to be specific guidelines with regards to how each and every case may be handled. AleForge reserves full rights to use its judgment and discretion in how each individual case is handled.</p>
				<p><strong>Abuse Tickets for Unmanaged Services</strong></p>
				<p>
					AleForge standard policy is to contact the Customer during which a violation of the Acceptable Use Policy or Terms of Service has occurred, however, AleForge does reserve the right to suspend or terminate any account with or without notice at its own discretion. The Customer agrees to maintain up to date primary
					contact email information with AleForge. The violation shall be listed in the Subject of the email sent from our abuse department (support@mg.aleforge.net). The Customer shall be given all appropriate details of the Violation as well as a time frame to correct the issue before action shall be taken. Once the email
					has been sent to the Customer, AleForge will consider that the Customer has been notified. AleForge reserves the right to use discretion on the amount of time given for a customer to correct the issue before action is taken.
				</p>
				<p>
					AleForge at its own discretion will provide a range from zero to seventy-two hours for a customer to address any abuse issue. If the abuse issue is not addressed by the customer in a timely manner AleForge reserves the right to take necessary steps to stop the abuse. This includes but is not limited to IP null
					routes, port blocking, service suspension, and service termination.
				</p>
				<p><strong>Other</strong></p>
				<p>You must have valid and current information on file with your domain name registrar for any domain hosted on the AleForge network.</p>

				<p><strong>Disclaimer</strong></p>
				<p>AleForge is under no duty and does not by this Acceptable Use Policy undertake a duty, to monitor or police our customers’ activities and disclaims any responsibility for any misuse of the AleForge network.</p>
				<p>Inquiries regarding this policy should be directed to our legal department via email: support@aleforge.net</p>
			</div>
		</section>

		<Footer />
	</body>
</html>
