---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead />

    <title>Control Panel | AleForge</title>
    <meta name="keywords" content="aleforge, game server hosting, game control panel" />
    <meta name="description" content="Stop paying for slots. Join us on our next gen game server hosting where security and your experience are our priority and gaming is your only concern." />
    <meta name="robots" content="index, follow" />
    <meta name="googlebot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
    <meta name="bingbot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Game Server, Discord Bot, and Web Hosting Provider | AleForge" />
    <link rel="canonical" href="https://aleforge.net/" />

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@AleForgeHosting">
    <meta name="twitter:title" content="Game Server, Discord Bot, and Web Hosting Provider | AleForge">
    <meta name="twitter:description" content="Stop paying for slots. Join us on our next gen game server hosting where security and your experience are our priority and gaming is your only concern."/>
    <meta name="twitter:creator" content="@AleForgeHosting">

    <!-- Open Graph data -->
    <meta property="og:title" content="Game Server, Discord Bot, and Web Hosting Provider | AleForge"/>
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://aleforge.net/"/>
    <meta property="og:description" content="Stop paying for slots. Join us on our next gen game server hosting where security and your experience are our priority and gaming is your only concern."/>
    <meta property="og:site_name" content="AleForge"/>
    <meta property="fb:app_id" content="2877703308935482"/> 

     <!-- Schema -->
     <script type="application/ld+json">
        {
         "@context": "https://schema.org",
         "@type": "Corporation",
         "name": "AleForge",
         "url": "https://aleforge.net/",
         "logo": "https://aleforge.net/images/logo.webp",
         "sameAs": [
         "https://www.facebook.com/AleForgeHosting",
         "https://twitter.com/aleforgehosting",
         "https://www.linkedin.com/company/aleforge/"
           ],
           "aggregateRating": {
            "@type": "AggregateRating",
            "ratingValue": 4.8,
            "reviewCount": 121
            }
         }
    </script>
	</head>
	<body>

    <div class="top-bg" id="panel-banner"> 
		<Header />

      <div id="banner" class="subbanner">
        <div class="container">
            <h3 class="white block semibold">Powerful & Easy-to-Use </h3>
            <h1>Game Control Panel</h1>
            <h3 class="blue semibold">Running your own game server has never been easier!</h3>
            <p class="pt-3">Our top games include Minecraft and sandbox game where you build and explore and factorio a time consuming pollution producing game.</p>
            <a href="#" class="button mt-3">View Games</a>
            <a href="#explore-panel" class="button textbutton">Explore Panel <img src="/images/explore-down.svg"></a>
        </div>
      </div>
    </div>

    <section id="panel-intro">
      <div class="container">
        <div class="row">
          <div class="col col-lg-5">
            <h2 class="pt-4">Meet The Control Panel</h2>
            <p>The few fate this of implemented with title sign of in easier reach find be left at years, get help only was know for answer they small proceeded random intention and more here this is concept.</p>
            <ul class="half-list pb-3">
              <li class="py-1">
                <img src="/images/game-check.svg" class="icon-18 va-mid mr-1"> Console
              </li>
              <li class="py-1">
                <img src="/images/game-check.svg" class="icon-18 va-mid mr-1"> File Manager
              </li>
              <li class="py-1">
                <img src="/images/game-check.svg" class="icon-18 va-mid mr-1"> Databases
              </li>
              <li class="py-1">
                <img src="/images/game-check.svg" class="icon-18 va-mid mr-1"> Users
              </li>
              <li class="py-1">
                <img src="/images/game-check.svg" class="icon-18 va-mid mr-1"> Networking
              </li>
            </ul>
            <a href="#">Request a demo &raquo;</a>
          </div>
          <div class="col col-lg-6 ml-auto">
            <div class="game-panel-preview"><div id="carouselpanelsm" class="carousel slide" data-bs-ride="carousel">
            <ol class="carousel-indicators bullet-indicators">
                <li data-bs-target="#carouselpanelsm" data-bs-slide-to="0" class="active"></li>
                <li data-bs-target="#carouselpanelsm" data-bs-slide-to="1"></li>
                <li data-bs-target="#carouselpanelsm" data-bs-slide-to="2"></li>
                <li data-bs-target="#carouselpanelsm" data-bs-slide-to="3"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                <img src="/images/panel-preview-1@2x.webp" class="responsive-img panel-img" data-bs-target="#carouselpanelsm" data-bs-slide-to="1">
                </div>
                <div class="carousel-item">
                <img src="/images/panel-preview-1@2x.webp" class="responsive-img panel-img" data-bs-target="#carouselpanelsm" data-bs-slide-to="2">
                </div>
                <div class="carousel-item">
                <img src="/images/panel-preview-1@2x.webp" class="responsive-img panel-img" data-bs-target="#carouselpanelsm" data-bs-slide-to="3">
                </div>
                <div class="carousel-item">
                <img src="/images/panel-preview-1@2x.webp" class="responsive-img panel-img" data-bs-target="#carouselpanelsm" data-bs-slide-to="4">
                </div>
            </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="three-features-line panel-three-lines">
      <div class="container">
        <div class="row">
          <div class="col col-lg-4 border-right">
            <img src="/images/server-pause.svg" alt="" class="icon-50">
            <h4>Server Pause</h4>
            <p>The few fate this of implemented with title sign of in easier reach find be left at years, get help only was know for answer.</p>
          </div>
          <div class="col col-lg-4 border-right">
            <img src="/images/config-file.svg" alt="" class="icon-50">
            <h4>Config File Editor</h4>
            <p>The few fate this of implemented with title sign of in easier reach find be left at years, get help only was know for answer.</p>
          </div>
          <div class="col col-lg-4">
            <img src="/images/one-click-backups.svg" alt="" class="icon-50">
            <h4>One Click Backups</h4>
            <p>The few fate this of implemented with title sign of in easier reach find be left at years, get help only was know for answer.</p>
          </div>
        </div>
      </div>
    </section>

    <section class="dark-bg-small text-center mt-3" id="panel-two-features">
      <div class="container">
        <div class="flex-grid two">
          <div class="col">
            <img src="/images/game-swapping-dark.webp" class="responsive-img pb-2" srcset="/images/game-swapping-dark.webp 1x, /images/game-swapping-dark@2x.webp 2x">
            <div class="block pt-4">
              <strong class="blue-head">GAME SWAPPING</strong>
              <h3 class="font-26 py-1">Swap & Save Games on The Fly</h3>
              <p class="pt-1 pb-0">The few fate this of implemented with title sign of in easier find be left at years, get help only was know for answer small proceeded random intention concept.</p>
            </div>
          </div>
          <div class="col">
            <img src="/images/server-splitting-dark.webp" class="responsive-img pb-2" srcset="/images/server-splitting-dark.webp 1x, /images/server-splitting-dark@2x.webp 2x">
            <div class="block pt-4">
              <strong class="blue-head">SERVER SPLITTING</strong>
              <h3 class="font-26 py-1">Multiple Games — One Server</h3>
              <p class="pt-1 pb-0">The few fate this of implemented with title sign of in easier find be left at years, get help only was know for answer small proceeded random intention concept.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <a name="explore-panel"></a>
    <section id="explore-panel">
      <div class="container">
        <div class="title">
          <h2>
            <small>PANEL SCREENSHOTS</small>Explore The Control Panel
          </h2>
          <p>Pick the server location worldwide that works best for you and your friends. Our map automatically tests your latency to each site in real-time.</p>
        </div>
        <div class="explore-panel-left">
        <ul class="nav nav-tabs explore-panel-list" role="tablist">
            <li class="nav-item active">
            <a class="nav-link active" id="explore-panel-tabs-1-tab" data-bs-toggle="tab" href="#explore-panel-tabs-1" role="tab" aria-selected="true">
                <img src="/images/explore-resources.svg" alt=""> Resource Graphs
            </a>
            <p>The few fate this now implemented with title sign of into easier.</p>
            </li>
            <li class="nav-item">
            <a class="nav-link" id="explore-panel-tabs-2-tab" data-bs-toggle="tab" href="#explore-panel-tabs-2" role="tab" aria-selected="false">
                <img src="/images/explore-databases.svg" alt=""> Databases
            </a>
            <p>The few fate this now implemented with title sign of into easier.</p>
            </li>
            <li class="nav-item">
            <a class="nav-link" id="explore-panel-tabs-3-tab" data-bs-toggle="tab" href="#explore-panel-tabs-3" role="tab" aria-selected="false">
                <img src="/images/explore-files.svg" alt=""> File Manager
            </a>
            <p>The few fate this now implemented with title sign of into easier.</p>
            </li>
            <li class="nav-item">
            <a class="nav-link" id="explore-panel-tabs-4-tab" data-bs-toggle="tab" href="#explore-panel-tabs-4" role="tab" aria-selected="false">
                <img src="/images/explore-users.svg" alt=""> Users
            </a>
            <p>The few fate this now implemented with title sign of into easier.</p>
            </li>
            <li class="nav-item">
            <a class="nav-link" id="explore-panel-tabs-5-tab" data-bs-toggle="tab" href="#explore-panel-tabs-5" role="tab" aria-selected="false">
                <img src="/images/explore-plugins.svg" alt=""> Plugin Editor
            </a>
            <p>The few fate this now implemented with title sign of into easier.</p>
            </li>
            <li class="nav-item">
            <a class="nav-link" id="explore-panel-tabs-6-tab" data-bs-toggle="tab" href="#explore-panel-tabs-6" role="tab" aria-selected="false">
                <img src="/images/explore-network.svg" alt=""> Networking
            </a>
            <p>The few fate this now implemented with title sign of into easier.</p>
            </li>
        </ul>
        </div>
        <div class="explore-panel-right">
        <div class="tab-content">
            <div class="tab-pane fade show active" id="explore-panel-tabs-1" role="tabpanel">
            <img src="/images/panel-preview-big-1@2x.webp" class="responsive-img panel-img" alt="">
            </div>
            <div class="tab-pane fade" id="explore-panel-tabs-2" role="tabpanel"> 2 </div>
            <div class="tab-pane fade" id="explore-panel-tabs-3" role="tabpanel"> 3 </div>
            <div class="tab-pane fade" id="explore-panel-tabs-4" role="tabpanel"> 4 </div>
            <div class="tab-pane fade" id="explore-panel-tabs-5" role="tabpanel"> 5 </div>
            <div class="tab-pane fade" id="explore-panel-tabs-6" role="tabpanel"> 6 </div>
        </div>
        </div>
      </div>

        <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function() {
            var tabs = document.querySelectorAll('#explore-panel .nav-tabs .nav-item');

            tabs.forEach(function(tab) {
            tab.addEventListener('click', function() {
                tabs.forEach(function(tab) {
                tab.classList.remove('active');
                });
                this.classList.add('active');
            });
            });
        });
        </script>
    </section>

    

    <section class="grey-bg" id="panel-compare">
      <div class="container">
        <div class="title">
          <h2>
            <small>HOW WE STACK UP</small>The Most Advanced Panel Out There
          </h2>
          <p>Pick the server location worldwide that works best for you and your friends. Our map automatically tests your latency to each site in real-time.</p>
        </div>
        <table class="panel-compare">
          <thead>
            <th></th>
            <th>
              <img src="/images/aleforge-logo-light.webp" srcset="/images/aleforge-logo-light.webp 1x, /images/aleforge-logo-light@2x.webp 2x">
            </th>
            <th>
              <strong>Bisect Hosting</strong>
            </th>
            <th>
              <strong>ShockByte</strong>
            </th>
            <th>
              <strong>Apex Hosting</strong>
            </th>
            <th>
              <strong>Pebble Host</strong>
            </th>
          </thead>
          <tr>
            <td>Dedicated CPU cores</td>
            <td>
              <img src="/images/tick.svg">
            </td>
            
            <td><span class="showmobile"><img src="/images/not-included.svg"></span></td>
            <td>
              <img src="/images/tick.svg">
            </td>
            <td>
              <img src="/images/tick.svg">
            </td>
            
            <td><span class="showmobile"><img src="/images/not-included.svg"></span></td>
          </tr>
          <tr>
            <td>Server Swapping <img src="/images/tooltip.svg" class="va-mid ml-1">
            </td>
            <td>
              <img src="/images/tick.svg">
            </td>
            <td>
              <img src="/images/tick.svg">
            </td>
            
            <td><span class="showmobile"><img src="/images/not-included.svg"></span></td>
            
            <td><span class="showmobile"><img src="/images/not-included.svg"></span></td>
            
            <td><span class="showmobile"><img src="/images/not-included.svg"></span></td>
          </tr>
          <tr>
            <td>Game Changing</td>
            <td>
              <img src="/images/tick.svg">
            </td>
            <td>
              <img src="/images/tick.svg">
            </td>
            <td>
              <img src="/images/tick.svg">
            </td>
            
            <td><span class="showmobile"><img src="/images/not-included.svg"></span></td>
            
            <td><span class="showmobile"><img src="/images/not-included.svg"></span></td>
          </tr>
          <tr>
            <td>Free Dedicated IP</td>
            <td>
              <img src="/images/tick.svg">
            </td>
            <td>
              <img src="/images/tick.svg">
            </td>
            
            <td><span class="showmobile"><img src="/images/not-included.svg"></span></td>
            <td>
              <img src="/images/tick.svg">
            </td>
            <td>
              <img src="/images/tick.svg">
            </td>
          </tr>
          <tr>
            <td>Create Multiple Servers <img src="/images/tooltip.svg" class="va-mid ml-1">
            </td>
            <td>
              <img src="/images/tick.svg">
            </td>
            
            <td><span class="showmobile"><img src="/images/not-included.svg"></span></td>
            
            <td><span class="showmobile"><img src="/images/not-included.svg"></span></td>
            <td>
              <img src="/images/tick.svg">
            </td>
            
            <td><span class="showmobile"><img src="/images/not-included.svg"></span></td>
          </tr>
          <tr>
            <td>Dedicated CPU cores</td>
            <td>
              <img src="/images/tick.svg">
            </td>
            <td><span class="showmobile"><img src="/images/not-included.svg"></span></td>
            <td>
              <img src="/images/tick.svg">
            </td>
            <td><span class="showmobile"><img src="/images/not-included.svg"></span></td>
            <td><span class="showmobile"><img src="/images/not-included.svg"></span></td>
          </tr>
          <tr>
            <td>Another Feature</td>
            <td>
              <img src="/images/tick.svg">
            </td>
            <td>
              <img src="/images/tick.svg">
            </td>
            
            <td><span class="showmobile"><img src="/images/not-included.svg"></span></td>
            
            <td><span class="showmobile"><img src="/images/not-included.svg"></span></td>
            <td>
              <img src="/images/tick.svg">
            </td>
          </tr>
          <tr>
            <td>Price per GB <img src="/images/tooltip.svg" class="va-mid ml-1">
            </td>
            <td>
              <h3>$20 <small>/mo</small>
              </h3>
            </td>
            <td>$20/mo</td>
            <td>$20/mo</td>
            <td>$20/mo</td>
            <td>$20/mo</td>
          </tr>
        </table>
      </div>
    </section>
    <section class="blue-bg panel-order-now" id="slot-price">
      <div class="container">
        <div class="row">
          <div class="col">
            <h2>Get started today!</h2>
            <p>Browse through our list of available game servers</p>
          </div>
          <div class="col leftauto" id="theprice">
            <div class="mobile-clear">
            <span class="starts-at">Games from</span>
            <h2>$1</h2>
            <h3>.25 <small>per slot</small>
            </h3>
            </div>
            <a href="#" class="button outline">View Games</a>
            <a href="#" class="button dark">Join Now</a>
          </div>
        </div>
      </div>
    </section>

    <section class="three-feats" id="panel-features">
      <div class="container">
        <div class="title">
          <h2>
            <small>INCLUDED WITH THE PANEL</small>More Features For Less
          </h2>
          <p>Pick the server location worldwide that works best for you and your friends. Our map automatically tests your latency to each site in real-time.</p>
        </div>
        <div class="row">
          <div class="col col-lg-3">
            <img src="/images/reverse-proxy.svg" alt="" class="icon-50">
            <h4>Reverse Proxy</h4>
            <p>Automatically install modpacks of your choosing such as FTB, CurseForge, Tekkit, and more.</p>
          </div>
          <div class="col col-lg-3">
            <img src="/images/server-importer.svg" alt="" class="icon-50">
            <h4>Server Importer </h4>
            <p>Automatically install modpacks of your choosing such as FTB, CurseForge, Tekkit, and more.</p>
          </div>
          <div class="col col-lg-3">
            <img src="/images/recycling-bin.svg" alt="" class="icon-50">
            <h4>Recycling Bin</h4>
            <p>Automatically install modpacks of your choosing such as FTB, CurseForge, Tekkit, and more.</p>
          </div>
          <div class="col col-lg-3">
            <img src="/images/scheduled-backups.svg" alt="" class="icon-50">
            <h4>Scheduled Backups</h4>
            <p>Automatically install modpacks of your choosing such as FTB, CurseForge, Tekkit, and more.</p>
          </div>
          <div class="col col-lg-3">
            <img src="/images/activity-logs.svg" alt="" class="icon-50">
            <h4>Activity logs</h4>
            <p>Automatically install modpacks of your choosing such as FTB, CurseForge, Tekkit, and more.</p>
          </div>
          <div class="col col-lg-3">
            <img src="/images/server-isolation.svg" alt="" class="icon-50">
            <h4>Server Isolation</h4>
            <p>Automatically install modpacks of your choosing such as FTB, CurseForge, Tekkit, and more.</p>
          </div>
          <div class="col col-lg-3">
            <img src="/images/task-scheduler.svg" alt="" class="icon-50">
            <h4>Task Scheduler</h4>
            <p>Automatically install modpacks of your choosing such as FTB, CurseForge, Tekkit, and more.</p>
          </div>
          <div class="col col-lg-3">
            <img src="/images/sftp-access.svg" alt="" class="icon-50">
            <h4>SFTP Access</h4>
            <p>Automatically install modpacks of your choosing such as FTB, CurseForge, Tekkit, and more.</p>
          </div>
        </div>
      </div>
    </section>
    
<section class="dark-bg-small text-center" id="panel-reviews">
  <div class="container">
    <h4>Excellent</h4>
    <a href="#">
      <img src="/images/tp-stars.svg" alt="">
    </a>
    <span class="block pt-3">Based on over 100+ reviews at <a href="#">
        <img src="/images/tp-logo.svg" class="va-mid" alt="">
      </a>
    </span>
    <div class="block pt-4 mt-2">
      <div id="carousel-testimonials" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item">
            <div class="flex-grid one">
              <div class="col slider">
                <p>"Was off to a rough start at first since I know nothing about server hosting, but the support team is really great and the server performs great as well. Definitely worth the subscription if you need a gaming server or web domain.”</p>
                <h4>Chloe</h4>
              </div>
            </div>
          </div>
          <div class="carousel-item active">
            <div class="flex-grid one">
              <div class="col slider">
                <p>"Servers had great connection, and the UI was easy to navigate. If I ever had trouble with it, the customer support was phenomenal, with quick responses and great advice/instructions.”</p>
                <h4>Andrew</h4>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="flex-grid one">
              <div class="col slider">
                <p>"The online chat was well manned, a human being got back to me right away, and stayed on until my problem was solved - jumping in and making sure my Terraria game was set up properly. Top notch.”</p>
                <h4>Rivers</h4>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="flex-grid one">
              <div class="col slider">
                <p>"The signup process is fast and easy, and the pricing is very competitive. I had an issue with my server, and support took care of it within literal seconds. I would highly recommend AleForge to anyone.”</p>
                <h4>Domantas</h4>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="flex-grid one">
              <div class="col slider">
                <p>"Absolutely in love with the clean aesthetic of this host. Every other host I've used has seemed cluttered and messy, this is definitely a breath of fresh air. Support is great as well, always a bonus!”</p>
                <h4>Brandon</h4>
              </div>
            </div>
          </div>
          <!-- Add more carousel items for other testimonials -->
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carousel-testimonials" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carousel-testimonials" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
        <ol class="carousel-indicators bullet-indicators">
          <li data-bs-target="#carousel-testimonials" data-bs-slide-to="0" class=""></li>
          <li data-bs-target="#carousel-testimonials" data-bs-slide-to="1" class="active"></li>
          <li data-bs-target="#carousel-testimonials" data-bs-slide-to="2" class=""></li>
          <li data-bs-target="#carousel-testimonials" data-bs-slide-to="3" class=""></li>
          <li data-bs-target="#carousel-testimonials" data-bs-slide-to="4" class=""></li>
          <!-- Add more carousel indicators for other testimonials -->
        </ol>
      </div>
    </div>
  </div>
</section>

    <section id="more-panel-features">
      <div class="container">
        <div class="title">
          <h2>
            <small>GAME FEATURES</small>Game Specific Features
          </h2>
          <p>Choose a game below to see game-related features and screenshots</p>
        </div>
        <ul class="game-logo-tabs nav nav-tabs" role="tablist">
          <li>
            <a data-bs-toggle="tab" href="#specific-panel-tabs-1" role="tab" aria-selected="false" class="active">
              <img src="/images/logo-rust.svg">
            </a>
          </li>
          <li class="active">
            <a data-bs-toggle="tab" href="#specific-panel-tabs-2" role="tab" aria-selected="false">
              <img src="/images/logo-vrising.webp" srcset="/images/logo-vrising.webp 1x, /images/logo-vrising@2x.webp 2x">
            </a>
          </li>
          <li>
            <a data-bs-toggle="tab" href="#specific-panel-tabs-3" role="tab" aria-selected="false">
              <img src="/images/logo-cs2.svg">
            </a>
          </li>
          <li>
            <a data-bs-toggle="tab" href="#specific-panel-tabs-4" role="tab" aria-selected="false">
              <img src="/images/logo-minecraft.svg">
            </a>
          </li>
          <li>
            <a data-bs-toggle="tab" href="#specific-panel-tabs-5" role="tab" aria-selected="false">
              <img src="/images/logo-conan.webp" srcset="/images/logoconan.webp 1x, /images/logo-conan@2x.webp 2x">
            </a>
          </li>
          <li>
            <a data-bs-toggle="tab" href="#specific-panel-tabs-6" role="tab" aria-selected="false">
              <img src="/images/logo-teamfortress.webp" srcset="/images/logo-teamfortress.webp 1x, /images/logo-teamfortress@2x.webp 2x">
            </a>
          </li>
          <li>
            <a data-bs-toggle="tab" href="#specific-panel-tabs-7" role="tab" aria-selected="false">
              <img src="/images/logo-valheim.webp" srcset="/images/logo-valheim.webp 1x, /images/logo-valheim@2x.webp 2x">
            </a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active">
            <div class="tab-content">
              <div class="tab-pane active" id="specific-panel-tabs-1">
                <div class="tab-content">
                  <div class="tab-pane active" id="rust-tabs-1">
                    <div class="game-specific-panel">
                      <img src="/images/panel-preview-1@2x.webp" class="responsive-img panel-img" alt="">
                    </div>
                  </div>
                  <div class="tab-pane" id="rust-tabs-2">
                    <div class="game-specific-panel"> rust2 <img src="/images/panel-preview-1@2x.webp" class="responsive-img panel-img" alt="">
                    </div>
                  </div>
                  <div class="tab-pane" id="rust-tabs-3">
                    <div class="game-specific-panel"> rust3 <img src="/images/panel-preview-1@2x.webp" class="responsive-img panel-img" alt="">
                    </div>
                  </div>
                  <div class="tab-pane" id="rust-tabs-4">
                    <div class="game-specific-panel"> rust4 <img src="/images/panel-preview-1@2x.webp" class="responsive-img panel-img" alt="">
                    </div>
                  </div>
                </div>
                <ul class="more-panel-inner-tabs nav-tabs nav" role="tablist">
                  <li>
                    <a data-bs-toggle="tab" href="#rust-tabs-1" role="tab" aria-selected="false" class="active">
                      <h4>99.9% Uptime Guarantee</h4>
                      <p>The few fating this of implemented without titles sign in easier reach find been random text year.</p>
                    </a>
                  </li>
                  <li>
                    <a data-bs-toggle="tab" href="#rust-tabs-2" role="tab" aria-selected="false">
                      <h4>99.9% Uptime Guarantee</h4>
                      <p>The few fating this of implemented without titles sign in easier reach find been random text year.</p>
                    </a>
                  </li>
                  <li>
                    <a data-bs-toggle="tab" href="#rust-tabs-3" role="tab" aria-selected="false">
                      <h4>99.9% Uptime Guarantee</h4>
                      <p>The few fating this of implemented without titles sign in easier reach find been random text year.</p>
                    </a>
                  </li>
                  <li>
                    <a data-bs-toggle="tab" href="#rust-tabs-4" role="tab" aria-selected="false">
                      <h4>99.9% Uptime Guarantee</h4>
                      <p>The few fating this of implemented without titles sign in easier reach find been random text year.</p>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="tab-pane" id="specific-panel-tabs-2">
                <div class="tab-content">
                  <div class="tab-pane active" id="vrising-tabs-1">
                    <div class="game-specific-panel">
                      <img src="/images/panel-preview-1@2x.webp" class="responsive-img panel-img" alt="">
                    </div>
                  </div>
                  <div class="tab-pane" id="vrising-tabs-2">
                    <div class="game-specific-panel"> vrising2 <img src="/images/panel-preview-1@2x.webp" class="responsive-img panel-img" alt="">
                    </div>
                  </div>
                  <div class="tab-pane" id="vrising-tabs-3">
                    <div class="game-specific-panel"> vrising3 <img src="/images/panel-preview-1@2x.webp" class="responsive-img panel-img" alt="">
                    </div>
                  </div>
                  <div class="tab-pane" id="vrising-tabs-4">
                    <div class="game-specific-panel"> vrising4 <img src="/images/panel-preview-1@2x.webp" class="responsive-img panel-img" alt="">
                    </div>
                  </div>
                </div>
                <ul class="more-panel-inner-tabs nav-tabs nav" role="tablist">
                  <li>
                    <a data-bs-toggle="tab" href="#vrising-tabs-1" role="tab" aria-selected="false" class="active">
                      <h4>99.9% Uptime Guarantee</h4>
                      <p>The few fating this of implemented without titles sign in easier reach find been random text year.</p>
                    </a>
                  </li>
                  <li>
                    <a data-bs-toggle="tab" href="#vrising-tabs-2" role="tab" aria-selected="false">
                      <h4>99.9% Uptime Guarantee</h4>
                      <p>The few fating this of implemented without titles sign in easier reach find been random text year.</p>
                    </a>
                  </li>
                  <li>
                    <a data-bs-toggle="tab" href="#vrising-tabs-3" role="tab" aria-selected="false">
                      <h4>99.9% Uptime Guarantee</h4>
                      <p>The few fating this of implemented without titles sign in easier reach find been random text year.</p>
                    </a>
                  </li>
                  <li>
                    <a data-bs-toggle="tab" href="#vrising-tabs-4" role="tab" aria-selected="false">
                      <h4>99.9% Uptime Guarantee</h4>
                      <p>The few fating this of implemented without titles sign in easier reach find been random text year.</p>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="tab-pane" id="specific-panel-tabs-3">
                <div class="tab-content">
                  <div class="tab-pane active" id="cstwo-tabs-1">
                    <div class="game-specific-panel">
                      <img src="/images/panel-preview-1@2x.webp" class="responsive-img panel-img" alt="">
                    </div>
                  </div>
                  <div class="tab-pane" id="cstwo-tabs-2">
                    <div class="game-specific-panel"> cstwo2 <img src="/images/panel-preview-1@2x.webp" class="responsive-img panel-img" alt="">
                    </div>
                  </div>
                  <div class="tab-pane" id="cstwo-tabs-3">
                    <div class="game-specific-panel"> cstwo3 <img src="/images/panel-preview-1@2x.webp" class="responsive-img panel-img" alt="">
                    </div>
                  </div>
                  <div class="tab-pane" id="cstwo-tabs-4">
                    <div class="game-specific-panel"> cstwo4 <img src="/images/panel-preview-1@2x.webp" class="responsive-img panel-img" alt="">
                    </div>
                  </div>
                </div>
                <ul class="more-panel-inner-tabs nav-tabs nav" role="tablist">
                  <li>
                    <a data-bs-toggle="tab" href="#cstwo-tabs-1" role="tab" aria-selected="false" class="active">
                      <h4>99.9% Uptime Guarantee</h4>
                      <p>The few fating this of implemented without titles sign in easier reach find been random text year.</p>
                    </a>
                  </li>
                  <li>
                    <a data-bs-toggle="tab" href="#cstwo-tabs-2" role="tab" aria-selected="false">
                      <h4>99.9% Uptime Guarantee</h4>
                      <p>The few fating this of implemented without titles sign in easier reach find been random text year.</p>
                    </a>
                  </li>
                  <li>
                    <a data-bs-toggle="tab" href="#cstwo-tabs-3" role="tab" aria-selected="false">
                      <h4>99.9% Uptime Guarantee</h4>
                      <p>The few fating this of implemented without titles sign in easier reach find been random text year.</p>
                    </a>
                  </li>
                  <li>
                    <a data-bs-toggle="tab" href="#cstwo-tabs-4" role="tab" aria-selected="false">
                      <h4>99.9% Uptime Guarantee</h4>
                      <p>The few fating this of implemented without titles sign in easier reach find been random text year.</p>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="tab-pane" id="specific-panel-tabs-4">
                <div class="tab-content">
                  <div class="tab-pane active" id="minecraft-tabs-1">
                    <div class="game-specific-panel">
                      <img src="/images/panel-preview-1@2x.webp" class="responsive-img panel-img" alt="">
                    </div>
                  </div>
                  <div class="tab-pane" id="minecraft-tabs-2">
                    <div class="game-specific-panel"> mc2 <img src="/images/panel-preview-1@2x.webp" class="responsive-img panel-img" alt="">
                    </div>
                  </div>
                  <div class="tab-pane" id="minecraft-tabs-3">
                    <div class="game-specific-panel"> mc3 <img src="/images/panel-preview-1@2x.webp" class="responsive-img panel-img" alt="">
                    </div>
                  </div>
                  <div class="tab-pane" id="minecraft-tabs-4">
                    <div class="game-specific-panel"> mc4 <img src="/images/panel-preview-1@2x.webp" class="responsive-img panel-img" alt="">
                    </div>
                  </div>
                </div>
                <ul class="more-panel-inner-tabs nav-tabs nav" role="tablist">
                  <li>
                    <a data-bs-toggle="tab" href="#minecraft-tabs-1" role="tab" aria-selected="false" class="active">
                      <h4>99.9% Uptime Guarantee</h4>
                      <p>The few fating this of implemented without titles sign in easier reach find been random text year.</p>
                    </a>
                  </li>
                  <li>
                    <a data-bs-toggle="tab" href="#minecraft-tabs-2" role="tab" aria-selected="false">
                      <h4>99.9% Uptime Guarantee</h4>
                      <p>The few fating this of implemented without titles sign in easier reach find been random text year.</p>
                    </a>
                  </li>
                  <li>
                    <a data-bs-toggle="tab" href="#minecraft-tabs-3" role="tab" aria-selected="false">
                      <h4>99.9% Uptime Guarantee</h4>
                      <p>The few fating this of implemented without titles sign in easier reach find been random text year.</p>
                    </a>
                  </li>
                  <li>
                    <a data-bs-toggle="tab" href="#minecraft-tabs-4" role="tab" aria-selected="false">
                      <h4>99.9% Uptime Guarantee</h4>
                      <p>The few fating this of implemented without titles sign in easier reach find been random text year.</p>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="tab-pane" id="specific-panel-tabs-5">
                <div class="tab-content">
                  <div class="tab-pane active" id="conan-tabs-1">
                    <div class="game-specific-panel">
                      <img src="/images/panel-preview-1@2x.webp" class="responsive-img panel-img" alt="">
                    </div>
                  </div>
                  <div class="tab-pane" id="conan-tabs-2">
                    <div class="game-specific-panel"> conan2 <img src="/images/panel-preview-1@2x.webp" class="responsive-img panel-img" alt="">
                    </div>
                  </div>
                  <div class="tab-pane" id="conan-tabs-3">
                    <div class="game-specific-panel"> conan3 <img src="/images/panel-preview-1@2x.webp" class="responsive-img panel-img" alt="">
                    </div>
                  </div>
                  <div class="tab-pane" id="conan-tabs-4">
                    <div class="game-specific-panel"> conan4 <img src="/images/panel-preview-1@2x.webp" class="responsive-img panel-img" alt="">
                    </div>
                  </div>
                </div>
                <ul class="more-panel-inner-tabs nav-tabs nav" role="tablist">
                  <li>
                    <a data-bs-toggle="tab" href="#conan-tabs-1" role="tab" aria-selected="false" class="active">
                      <h4>99.9% Uptime Guarantee</h4>
                      <p>The few fating this of implemented without titles sign in easier reach find been random text year.</p>
                    </a>
                  </li>
                  <li>
                    <a data-bs-toggle="tab" href="#conan-tabs-2" role="tab" aria-selected="false">
                      <h4>99.9% Uptime Guarantee</h4>
                      <p>The few fating this of implemented without titles sign in easier reach find been random text year.</p>
                    </a>
                  </li>
                  <li>
                    <a data-bs-toggle="tab" href="#conan-tabs-3" role="tab" aria-selected="false">
                      <h4>99.9% Uptime Guarantee</h4>
                      <p>The few fating this of implemented without titles sign in easier reach find been random text year.</p>
                    </a>
                  </li>
                  <li>
                    <a data-bs-toggle="tab" href="#conan-tabs-4" role="tab" aria-selected="false">
                      <h4>99.9% Uptime Guarantee</h4>
                      <p>The few fating this of implemented without titles sign in easier reach find been random text year.</p>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="tab-pane" id="specific-panel-tabs-6">
                <div class="tab-content">
                  <div class="tab-pane active" id="teamfortress-tabs-1">
                    <div class="game-specific-panel">
                      <img src="/images/panel-preview-1@2x.webp" class="responsive-img panel-img" alt="">
                    </div>
                  </div>
                  <div class="tab-pane" id="teamfortress-tabs-2">
                    <div class="game-specific-panel"> tf2-2 <img src="/images/panel-preview-1@2x.webp" class="responsive-img panel-img" alt="">
                    </div>
                  </div>
                  <div class="tab-pane" id="teamfortress-tabs-3">
                    <div class="game-specific-panel"> tf2-3 <img src="/images/panel-preview-1@2x.webp" class="responsive-img panel-img" alt="">
                    </div>
                  </div>
                  <div class="tab-pane" id="teamfortress-tabs-4">
                    <div class="game-specific-panel"> tf2-4 <img src="/images/panel-preview-1@2x.webp" class="responsive-img panel-img" alt="">
                    </div>
                  </div>
                </div>
                <ul class="more-panel-inner-tabs nav-tabs nav" role="tablist">
                  <li >
                    <a data-bs-toggle="tab" href="#teamfortress-tabs-1" role="tab" aria-selected="false" class="active"><h4>99.9% Uptime Guarantee</h4><p>The few fating this of implemented without titles sign in easier reach find been random text year.</p>
                    </a>
                  </li>
                  <li>
                    <a data-bs-toggle="tab" href="#teamfortress-tabs-2" role="tab" aria-selected="false"><h4>99.9% Uptime Guarantee</h4><p>The few fating this of implemented without titles sign in easier reach find been random text year.</p>
                    </a>
                  </li>
                  <li>
                    <a data-bs-toggle="tab" href="#teamfortress-tabs-3" role="tab" aria-selected="false"><h4>99.9% Uptime Guarantee</h4><p>The few fating this of implemented without titles sign in easier reach find been random text year.</p>
                    </a>
                  </li>
                  <li>
                    <a data-bs-toggle="tab" href="#teamfortress-tabs-4" role="tab" aria-selected="false"><h4>99.9% Uptime Guarantee</h4><p>The few fating this of implemented without titles sign in easier reach find been random text year.</p>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="tab-pane" id="specific-panel-tabs-7">
                <div class="tab-content">
                  <div class="tab-pane active" id="valheim-tabs-1">
                    <div class="game-specific-panel"><img src="/images/panel-preview-1@2x.webp" class="responsive-img panel-img" alt=""></div>
                  </div>
                  <div class="tab-pane" id="valheim-tabs-2"><div class="game-specific-panel"> valheim2<img src="/images/panel-preview-1@2x.webp" class="responsive-img panel-img" alt=""></div></div><div class="tab-pane" id="valheim-tabs-3"><div class="game-specific-panel"> valheim3<img src="/images/panel-preview-1@2x.webp" class="responsive-img panel-img" alt=""></div></div><div class="tab-pane" id="valheim-tabs-4"><div class="game-specific-panel"> valheim4<img src="/images/panel-preview-1@2x.webp" class="responsive-img panel-img" alt=""></div></div>
                </div><ul class="more-panel-inner-tabs nav-tabs nav" role="tablist"><li><a data-bs-toggle="tab" href="#valheim-tabs-1" role="tab" aria-selected="false" class="active"><h4>99.9% Uptime Guarantee</h4><p>The few fating this of implemented without titles sign in easier reach find been random text year.</p></a></li><li><a data-bs-toggle="tab" href="#valheim-tabs-2" role="tab" aria-selected="false"><h4>99.9% Uptime Guarantee</h4><p>The few fating this of implemented without titles sign in easier reach find been random text year.</p></a></li><li><a data-bs-toggle="tab" href="#valheim-tabs-3" role="tab" aria-selected="false"><h4>99.9% Uptime Guarantee</h4><p>The few fating this of implemented without titles sign in easier reach find been random text year.</p></a></li><li><a data-bs-toggle="tab" href="#valheim-tabs-4" role="tab" aria-selected="false"><h4>99.9% Uptime Guarantee</h4><p>The few fating this of implemented without titles sign in easier reach find been random text year.</p></a></li></ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


		<Footer />
	</body>
</html>

