---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Map from "../components/mapsmall.astro";
import TPWidget from "../components/TPWidget.astro";
---

<!doctype html>
<html class="page-homepage" lang="en">
	<head>
		<BaseHead />

		<title>Game Server, Discord Bot, and Web Hosting Provider | AleForge</title>
		<meta name="keywords" content="aleforge, game server hosting" />
		<meta name="description" content="Stop paying for slots. Join us on our next gen game server hosting where security and your experience are our priority and gaming is your only concern." />
		<meta name="robots" content="index, follow" />
		<meta name="googlebot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
		<meta name="bingbot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
		<meta property="og:locale" content="en_US" />
		<meta property="og:type" content="website" />
		<meta property="og:title" content="Game Server, Discord Bot, and Web Hosting Provider | AleForge" />
		<link rel="canonical" href="https://aleforge.net/" />

		<!-- Twitter Card data -->
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:site" content="@AleForgeHosting" />
		<meta name="twitter:title" content="Game Server, Discord Bot, and Web Hosting Provider | AleForge" />
		<meta name="twitter:description" content="Stop paying for slots. Join us on our next gen game server hosting where security and your experience are our priority and gaming is your only concern." />
		<meta name="twitter:creator" content="@AleForgeHosting" />

		<!-- Open Graph data -->
		<meta property="og:title" content="Game Server, Discord Bot, and Web Hosting Provider | AleForge" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://aleforge.net/" />
		<meta property="og:description" content="Stop paying for slots. Join us on our next gen game server hosting where security and your experience are our priority and gaming is your only concern." />
		<meta property="og:site_name" content="AleForge" />
		<meta property="fb:app_id" content="2877703308935482" />

		<!-- Schema -->
		<script type="application/ld+json">
			{
				"@context": "https://schema.org",
				"@type": "Corporation",
				"name": "AleForge",
				"url": "https://aleforge.net/",
				"logo": "https://aleforge.net/images/logo.webp",
				"sameAs": ["https://www.facebook.com/AleForgeHosting", "https://twitter.com/aleforgehosting", "https://www.linkedin.com/company/aleforge/"],
				"aggregateRating": {
					"@type": "AggregateRating",
					"ratingValue": 4.8,
					"reviewCount": 121
				}
			}
		</script>
	</head>
	<body>
		<div class="top-bg">
			<Header />

			<div id="banner" class="home-slide">
				<div class="container">
					<div class="relative">
						<div id="carouselGames" class="carousel slide mt-4 pt-2 ptfix" data-bs-ride="carousel" data-bs-interval="25000">
							<div class="carousel-inner">
								<div class="carousel-item" id="hb-cstwo">
									<img src="images/logo-cstwo.svg" alt="" class="mb-3" />
									<h1>Order a Counter-Strike 2 Server</h1>
									<p>Starting at just <span>$0.50</span> per slot.</p>
									<a href="/games/csgo-counter-strike-global-offensive/" class="button">Order CS2 Server</a>
								</div>
								<div class="carousel-item active" id="hb-minecraft">
									<img src="images/logo-minecraft.svg" alt="" class="mb-3" />
									<h1>Order a Minecraft Server</h1>
									<p>Starting at just <span>$1.99</span> per GB.</p>
									<a href="/games/minecraft/" class="button">Order Minecraft Server</a>
								</div>
								<div class="carousel-item" id="hb-valheim">
									<img src="images/logo-valheim.webp" srcset="images/logo-valheim@2x.webp 2x" alt="" class="mb-3" />
									<h1>Order a Terraria Server</h1>
									<p>Starting at just <span>$0.60</span> per slot.</p>
									<a href="/games/valheim/" class="button">Order Valheim Server</a>
								</div>
								<div class="carousel-item" id="hb-palworld">
									<img src="images/logo-palworld.svg" alt="" class="mb-3" />
									<h1>Order a Palworld Server</h1>
									<p>Starting at just <span>$1.99</span> per GB.</p>
									<a href="/games/palworld" class="button">Order Palworld Server</a>
								</div>
								<div class="carousel-item" id="hb-terraria">
									<img src="images/logo-terraria.webp" srcset="images/logo-terraria@2x.webp 2x" alt="" class="mb-3" />
									<h1>Order a Terraria Server</h1>
									<p>Starting at just <span>$0.60</span> per slot.</p>
									<a href="/games/terraria/" class="button">Order Terraria Server</a>
								</div>
							</div>
						</div>

						<span class="carousel-control-prev prev" data-bs-target="#carouselGames" data-bs-slide="prev" aria-label="Previous">
							<span class="carousel-control-prev-icon" aria-hidden="true"></span>
							<span class="sr-only">Previous</span>
						</span>
						<span class="carousel-control-next next" data-bs-target="#carouselGames" data-bs-slide="next" aria-label="Next">
							<span class="carousel-control-next-icon" aria-hidden="true"></span>
							<span class="sr-only">Next</span>
						</span>
					</div>

					<!-- Game Boxes -->
					<div class="game-boxes-nav">
						<div class="row">
							<div class="col col-lg-25 home-game-box">
								<div class="home-game" id="home-game-cstwo" data-bs-target="#carouselGames" data-bs-slide-to="0">
									<div class="gametitle">
										<h3>Counter-Strike 2</h3>
									</div>
								</div>
							</div>
							<div class="col col-lg-25 home-game-box active">
								<div class="home-game" id="home-game-minecraft" data-bs-target="#carouselGames" data-bs-slide-to="1">
									<div class="gametitle">
										<h3>Minecraft</h3>
									</div>
								</div>
							</div>
							<div class="col col-lg-25 home-game-box">
								<div class="home-game" id="home-game-valheim" data-bs-target="#carouselGames" data-bs-slide-to="2">
									<div class="gametitle">
										<h3>Valheim</h3>
									</div>
								</div>
							</div>
							<div class="col col-lg-25 home-game-box game-is-new">
								<div class="home-game" id="home-game-palworld" data-bs-target="#carouselGames" data-bs-slide-to="3">
									<div class="gametitle">
										<h3>Palworld</h3>
										<span class="label tiny new">New Game</span>
									</div>
								</div>
							</div>
							<div class="col col-lg-25 home-game-box">
								<div class="home-game" id="home-game-terraria" data-bs-target="#carouselGames" data-bs-slide-to="4">
									<div class="gametitle">
										<h3>Terraria</h3>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<TPWidget />
			</div>
		</div>

		<script>
			// JavaScript to add active class to game boxes based on the active slide
			document.addEventListener("DOMContentLoaded", function () {
				var carousel = document.getElementById("carouselGames");
				var gameBoxes = document.querySelectorAll(".home-game-box");

				carousel.addEventListener("slid.bs.carousel", function (event) {
					var activeIndex = event.to;
					gameBoxes.forEach(function (box, index) {
						if (index === activeIndex) {
							box.classList.add("active");
						} else {
							box.classList.remove("active");
						}
					});
				});
			});
		</script>

		<section id="home-services">
			<div class="container">
				<div class="title">
					<h2><small>Services</small>Hosting Related Services</h2>
					<p>Web hosting designed to provide cutting edge performance with the certificate.</p>
				</div>
				<div class="row">
					<div class="col col-lg-4 border-right">
						<div class="service-box">
							<img src="/images/server.svg" class="block mx-auto mb-4" alt="" />
							<h4 class="pb-2">Shared Hosting</h4>
							<p class="pb-0">Web hosting designed to provide cutting edge performance with free SSL certificates, and daily backups included by default.</p>
							<div class="block pb-3 mt-n1">
								<span class="starting-at">Starting at</span>
								<h2>$9.95<span class="font-15">/mo</span></h2>
							</div>
							<a href="#" class="button mt-n1">Learn More</a>
						</div>
					</div>
					<div class="col col-lg-4 border-right">
						<div class="service-box">
							<img src="/images/server.svg" class="block mx-auto mb-4" alt="" />
							<h4 class="pb-2">WordPress Hosting</h4>
							<p class="pb-0">Web hosting designed to provide cutting edge performance with free SSL certificates, and daily backups included by default.</p>
							<div class="block pb-3 mt-n1">
								<span class="starting-at">Starting at</span>
								<h2>$9.95<span class="font-15">/mo</span></h2>
							</div>
							<a href="#" class="button mt-n1">Learn More</a>
						</div>
					</div>
					<div class="col col-lg-4">
						<div class="service-box">
							<img src="/images/server.svg" class="block mx-auto mb-4" alt="" />
							<h4 class="pb-2">Dedicated Servers</h4>
							<p class="pb-0">Web hosting designed to provide cutting edge performance with free SSL certificates, and daily backups included by default.</p>
							<div class="block pb-3 mt-n1">
								<span class="starting-at">Starting at</span>
								<h2>$9.95<span class="font-15">/mo</span></h2>
							</div>
							<a href="#" class="button mt-n1">Learn More</a>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="grey-bg-small text-center mt-3" id="home-two-features">
			<div class="container">
				<div class="flex-grid two">
					<div class="col col-lg-6">
						<div class="min-height-map">
							<img src="/images/game-swapping-light.webp" class="responsive-img pb-2" srcset="/images/game-swapping-light.webp 1x, /images/game-swapping-light@2x.webp 2x" />
						</div>
						<div class="block pt-4">
							<h3 class="font-26 py-1">Swap & Save Games</h3>
							<p class="pt-1">The few fate this of implemented with title sign of in easier find be left at years, get help only was know for answer small proceeded random intention concept.</p>
							<a href="#">Learn More &raquo;</a>
						</div>
					</div>
					<div class="col col-lg-6">
						<div class="min-height-map pt-2 ptfix">
							<Map />
						</div>
						<div class="block pt-4">
							<h3 class="font-26 py-1">9 Locations Globally</h3>
							<p class="pt-1">The few fate this of implemented with title sign of in easier find be left at years, get help only was know for answer small proceeded random intention concept.</p>
							<a href="#">Learn More &raquo;</a>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="four-feats" id="home-feats">
			<div class="container">
				<div class="title">
					<h2><small>Included Features</small>Affordable Game Hosting</h2>
					<p>We did the math. By renting a dedicated game server on AleForge, you can have the best of both worlds: inexpensive game hosting services combined with intuitive defense systems and phenomenal performance.</p>
				</div>
				<div class="row">
					<div class="col col-lg-3">
						<img src="/images/newgs-icon-locations.svg" alt="" class="height-50" />
						<h4>99.9% Uptime</h4>
						<p>High-availability means our gamer servers remain fully operational with our guaranteed SLA of 99.9%.</p>
					</div>
					<div class="col col-lg-3">
						<img src="/images/stats.svg" alt="" class="height-50" />
						<h4>Public Stats</h4>
						<p>We go the extra mile and prove our service by publicly showing our <a href="https://status.aleforge.net">server statistics</a> for everyone to view.</p>
					</div>
					<div class="col col-lg-3">
						<img src="/images/never.svg" alt="" class="height-50" />
						<h4>Never Oversold</h4>
						<p>We never over provision our servers so our customers never have to deal with the noisy neighbor issues you have with other providers.</p>
					</div>
					<div class="col col-lg-3">
						<img src="/images/reverse-proxy.svg" alt="" class="height-50" />
						<h4>Free DDoS Protection</h4>
						<p>Our smart protection services keep you safe from all distributed denial-of-service threats.</p>
					</div>
					<div class="col col-lg-3">
						<img src="/images/server.svg" alt="" class="height-50" />
						<h4>Dwarven Machines</h4>
						<p>Top of the line AMD and Intel hardware so you can game with without fear of lag.</p>
					</div>
					<div class="col col-lg-3">
						<img src="/images/newgs-icon-network.svg" alt="" class="height-50" />
						<h4>Dwarven Tunneling</h4>
						<p>All game servers come with gigabit networking standard.</p>
					</div>
					<div class="col col-lg-3">
						<img src="/images/wallet.svg" alt="" class="height-50" />
						<h4>Affordable Pricing</h4>
						<p>Get stable hosting and rapid technical support for an exceptional deal. Our pricing starts at $2.99 per GB of ram.</p>
					</div>
					<div class="col col-lg-3">
						<img src="/images/ssd.svg" alt="" class="height-50" />
						<h4>Unlimited Players</h4>
						<p>No restrictions on your players slots. You determine how many players will be able to join your server simultaneously.</p>
					</div>
				</div>

				<div class="flex-grid one">
					<div class="col">
						<h5>Are we missing something?</h5>
						<a href="https://billing.aleforge.net/submitticket.php?step=2&deptid=1" class="button">Contact Us</a>
					</div>
				</div>
			</div>
		</section>

		<section class="dark-bg-small text-center" id="panel-reviews">
			<div class="container">
				<div class="row">
					<div class="col col-lg-3 pt-3">
						<h4 class="mt-0">Excellent</h4>
						<a href="https://www.trustpilot.com/review/aleforge.net" target="_blank">
							<img src="/images/trustpilot-stars.svg" class="mt-1 mb-2" alt="" />
						</a>
						<span class="block pt-3">
							Based on over <strong>100+ reviews</strong> at
							<a href="https://www.trustpilot.com/review/aleforge.net" target="_blank">
								<img src="/images/tp-logo.svg" class="va-mid tp-logo-home" alt="" />
							</a>
						</span>
					</div>
					<div class="col col-lg-9">
						<div class="block testimonials-has-left-info pt-2">
							<div id="carousel-testimonials" class="carousel slide" data-bs-ride="carousel">
								<div class="carousel-inner">
									<div class="carousel-item">
										<div class="flex-grid one">
											<div class="col slider">
												<p>"Was off to a rough start at first since I know nothing about server hosting, but the support team is really great and the server performs great as well. Definitely worth the subscription if you need a gaming server or web domain.”</p>
												<h4>Chloe</h4>
											</div>
										</div>
									</div>
									<div class="carousel-item active">
										<div class="flex-grid one">
											<div class="col slider">
												<p>"Servers had great connection, and the UI was easy to navigate. If I ever had trouble with it, the customer support was phenomenal, with quick responses and great advice/instructions.”</p>
												<h4>Andrew</h4>
											</div>
										</div>
									</div>
									<div class="carousel-item">
										<div class="flex-grid one">
											<div class="col slider">
												<p>"The online chat was well manned, a human being got back to me right away, and stayed on until my problem was solved - jumping in and making sure my Terraria game was set up properly. Top notch.”</p>
												<h4>Rivers</h4>
											</div>
										</div>
									</div>
									<div class="carousel-item">
										<div class="flex-grid one">
											<div class="col slider">
												<p>"The signup process is fast and easy, and the pricing is very competitive. I had an issue with my server, and support took care of it within literal seconds. I would highly recommend AleForge to anyone.”</p>
												<h4>Domantas</h4>
											</div>
										</div>
									</div>
									<div class="carousel-item">
										<div class="flex-grid one">
											<div class="col slider">
												<p>"Absolutely in love with the clean aesthetic of this host. Every other host I've used has seemed cluttered and messy, this is definitely a breath of fresh air. Support is great as well, always a bonus!”</p>
												<h4>Brandon</h4>
											</div>
										</div>
									</div>
									<!-- Add more carousel items for other testimonials -->
								</div>
								<button class="carousel-control-prev" type="button" data-bs-target="#carousel-testimonials" data-bs-slide="prev" name="previous testimonial">
									<span class="carousel-control-prev-icon" aria-hidden="true"></span>
									<span class="visually-hidden">Previous</span>
								</button>
								<button class="carousel-control-next" type="button" data-bs-target="#carousel-testimonials" data-bs-slide="next" name="next testimonial">
									<span class="carousel-control-next-icon" aria-hidden="true"></span>
									<span class="visually-hidden">Next</span>
								</button>
								<ol class="carousel-indicators bullet-indicators">
									<li data-bs-target="#carousel-testimonials" data-bs-slide-to="0" class=""></li>
									<li data-bs-target="#carousel-testimonials" data-bs-slide-to="1" class="active"></li>
									<li data-bs-target="#carousel-testimonials" data-bs-slide-to="2" class=""></li>
									<li data-bs-target="#carousel-testimonials" data-bs-slide-to="3" class=""></li>
									<li data-bs-target="#carousel-testimonials" data-bs-slide-to="4" class=""></li>
									<!-- Add more carousel indicators for other testimonials -->
								</ol>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="text-center" id="home-cta">
			<div class="container">
				<div class="title pb-4">
					<h3 class="font-22 pb-2">Grab an Ale and pull up a stool</h3>
					<h2>Your favorite games are waiting!</h2>
					<p class="pt-2">Join the thousand of gamers who choose Aleforge everyday as <br />their tavern for whatever gameserver they desire.</p>
				</div>
				<a href="/about" class="button outline-grey mr-2">Learn More</a>
				<a href="https://billing.aleforge.net/cart.php" class="button">Get Started</a>
			</div>
		</section>

		<Footer />
	</body>
</html>
