---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead />
    <title>Refund Policy | AleForge</title>
    <meta name="description" content="The refund policy for AleForge." />
    <meta name="robots" content="index, follow" />
    <meta name="googlebot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
    <meta name="bingbot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
    <meta property="og:locale" content="en_US" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="canonical" href="https://aleforge.net/refund-policy" />
	</head>
	<body>

    <div class="top-bg">
		<Header />
        <div id="banner" class="subbanner about-banner">
            <div class="container">
                        <span class="gslink">Legal Info</span>
                        <h1>Refund Policy</h1>
						<div class="subnav">
                    <ul>
                        <li><a href="/privacy-policy" id="snav-2">Privacy Policy</a></li>
                        <li><a href="/acceptable-use" id="snav-3">Acceptable Use Policy</a></li>
                        <li><a href="/terms-of-service" id="snav-5">Terms of Service</a></li>
                        <li class="active"><a href="/refund-policy" id="snav-4">Refund Policy</a></li>
                    </ul>
					</div>
            </div>
        </div>
    </div>

    <section class="text-page">
        <div class="container">
            <p><strong>I. Overview</strong></p>
            <p>We pride ourselves in providing the best in high-performance services. We understand there is nothing worse than spending your hard earned cash and being disappointed by your purchase. We also know that running your own game server/vps/dedicated/web-hosting can be a daunting task that overwhelms many people, and with that, we also believe in treating our customers with a fair and reasonable guarantee that they’ll be satisfied with the service we provide. Whilst the situations below may describe various ways of appropriating a full or partial refund, AleForge reserves the right to decline a refund request for any or no reason at its sole discretion.</p>
            <p><strong>II. Refunds</strong></p>
            <p>Refunds may be appropriated as credit in U.S. Dollars or refunded back to the PayPal account or credit/debit card that made the purchase. Credit refunds will be applied instantly into the customer’s account. With PayPal or credit/debit card refunds, we ask our customers to allow up to 5 business days for the refund to be added back to their account balance. In extreme cases, credit or debit cards may take up to 7 business days to be processed.</p>
            <p><strong>III. Money Back Guarantee</strong></p>
            <p>If during the first 48 hours (2 days) after purchase a customer finds them-self not satisfied or no longer want the services, they will be granted a full refund minus administrative expenses such as credit card processing fees, per the eligibility described herein. This guarantee is only valid for the first service ordered per customer, throughout the lifetime of their account for products that do not have a free trial offered. If a technical issue is encountered the customer must give AleForge the oppertunity to resolve the issue before a refund is considered. We’d simply like the answer to one last question before you leave: what could we do to better our services in the future?</p>
            <p>Hosting packages have a 30-day money back guarantee. You will be refunded the full amount minus administrative expenses such as credit card processing fees.</p>
            <p>Customers can start the refund process by opening a ticket with the AleForge billing department through billing.aleforge.net client area.&nbsp;</p>
            <p>Domain Name Registrations, SSL Certificates, website builders, CodeGuard, SiteLock, Email Security, dedicated servers and VPS are excluded from the refund policy.</p>
            <p>Service renewals are not applicable for any guarantees or refunds.</p>
            <p>If you are experiencing technical issues with the server. In that case, we ask that you allow our support staff to resolve the problems you are experiencing before any refunds are issued.</p>
            <p>a) Alpha, Beta, or Modification (Mods) Software Usage</p>
            <p>Technical issues resulting from the customers use of modifications(mods), or alpha/beta software will exempt the customer from the Money Back Guarantee.</p>
            <p>b) Customer Created Issues</p>
            <p>Issues arising from customer modifications to the server, such as but not limited to deleting critical server files, modifying server binaries, etc, will exempt the customer from the Money Back Guarantee.</p>
            <p><strong>IV. Mid-service Cancellation</strong></p>
            <p>Beyond our three day guarantee, as referenced in section III, mid-service cancellation does not guarantee any refund. AleForge may assign credit at its discretion, but this is analyzed on a case-by-case basis.</p>
            <p><strong>V. Downtime, Outage, or System Failure Guarantee</strong></p>
            <p>If our hardware, network, or service platform fail for any continuous time period extending an hour, you may be eligible for a partial credit refund or extension of service time. System maintenance and repair time is not eligible or counted towards downtime to a service. Extended maintenance or unexpected maintenance may be eligible, solely at AleForge’s discretion. Contacting support would be required to assess the potential for a refund. Any malicious attacks to our network, hardware, or services are not guaranteed for a refund. Any custom software installed by the customer or on behalf of the customer that create erroneous problems failed (crashed) services, or downtime are also not eligible for a refund.</p>
            <p><strong>VI. Eligible Services</strong></p>
            <p>Unfortunately, not all of our products or services are eligible for a refund. Any of our shared game servers, web hosting, or voice services may be eligible for a refund. Domain registrations or transfers, SSL Certificates, SEO services, VPS, and dedicated servers may not be eligible for a refund and have no guarantee thereof. Services that have a free trial on offer are not eligible for a refund.</p>
            <p><strong>VII. Payment Disputes</strong></p>
            <p>If at any time a customer feels that we’ve wronged them, we ask them kindly to speak with us to resolve the issue before creating a dispute or charge-back with their payment provider. Please do not create a dispute or charge-back when asking for a refund as it will only extend the amount of time it takes for the request to be processed. Each dispute hurts the reputation our company has with our payment gateways, regardless of the outcome. We retain logs of service use, payment authorization, timestamps, IP logs, and support interactions which are coalesced into a single report that is sent to the payment gateway that has received the dispute.</p>
            <p><strong>IX: Charge-back&nbsp;and Refund Fees</strong></p>
            <p>If at any time a charge-back or refund creates a fee to AleForge LLC by a payment gateway from a payment made by a customer, the customer is responsible for paying the fee and may be billed for such. Unpaid charge-back fees will be outsourced to a collection agency as per our Terms of Service section III.</p>
        </div>
    </section>

		<Footer />
	</body>
</html>

