---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead />

		<title>Terms of Service | AleForge</title>
		<meta name="description" content="The terms you agree to when hosting with us at AleForge." />
		<meta name="robots" content="index, follow" />
		<meta name="googlebot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
		<meta name="bingbot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
		<meta property="og:locale" content="en_US" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="canonical" href="https://aleforge.net/terms-of-service" />
	</head>
	<body>
		<div class="top-bg">
			<Header />
			<div id="banner" class="subbanner about-banner">
				<div class="container">
					<span class="gslink">Legal Info</span>
					<h1>Terms of Service</h1>
					<div class="subnav">
						<ul>
							<li><a href="/privacy-policy" id="snav-2">Privacy Policy</a></li>
							<li><a href="/acceptable-use" id="snav-3">Acceptable Use Policy</a></li>
							<li class="active"><a href="/terms-of-service" id="snav-5">Terms of Service</a></li>
							<li><a href="/refund-policy" id="snav-4">Refund Policy</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<section class="text-page">
			<div class="container">
				<p><strong>I. Overview</strong></p>
				<p>
					These Terms and Conditions govern your use and access to AleForge LLC’s AleForge.net and present a legally binding contract between you and AleForge LLC. Hereinafter, AleForge, LLC may be referred to as “AleForge”, “we”, “us”, or other first-person pronouns and you may be referred to as “customer”, or other
					second-person pronouns. These terms and conditions apply to you, whether you are a paid member who has service with us, whether you are a player who contributes to the membership fees of one of our customers, a passive or active user of our services or if you are merely browsing our site.
				</p>
				<p>AleForge offer online-based services, including game servers, internet web hosting, VPS, and dedicated servers. These services may be referred to in this agreement as “our services”, “products”, “the services” or “the products”.</p>
				<p>
					These Terms and Conditions apply to visitors and members of the site. By accessing, using, viewing, downloading any material from us, or being a member of AleForge, you agree to be bound by these Terms and Conditions. This agreement is intended to be governed by the Electronic Signatures in Global and National
					Commerce Act (E-Sign Act).
				</p>
				<p>We reserve the right to revise, amend, or modify this policy and our other policies and agreements at any time and in any manner.</p>
				<p>
					You may use and access our services only in accordance with these Terms and Conditions and any applicable laws. Please consult these Terms and Conditions regularly and read them carefully before using our services. You affirm that you have read this agreement and understand, agree and consent to its Terms and
					Conditions.
				</p>
				<p><strong>II. Service Term</strong></p>
				<p>
					The initial service term of the agreement shall begin on the date that AleForge generates an e-mail message to Customer announcing the activation of the customer’s account (the “Service Commencement Date”) and shall continue for the first partial month of service plus the number of full calendar months stated in
					the order (the “initial term”). Upon expiration of the initial term, this agreement shall automatically renew unless AleForge LLC or customer provides the other with notice of nonrenewable at least seven (7) days prior to the expiration of the initial term or then-current renewal term, as applicable, as submitted
					via AleForge’s website.
				</p>
				<p>
					At the time of initial registration, you will select from the list of available Services the service plan(s) to which you wish to subscribe. All subscriptions to Services are subject to formal acceptance by AleForge. Your subscription to the Services will be deemed accepted by AleForge when AleForge delivers a
					confirmation of the subscription to You. AleForge reserves the right to refuse to provide you with any Service for any reason. AleForge reserves the right to interrupt access to the Services to perform regular and emergency maintenance as needed. You may order additional Services at any time, provided that You
					agree to pay the then-current fees for such additional Services. All additional Services shall be considered “Services” hereunder. All Services provided are subject to availability and to all of the terms and conditions of this Agreement.
				</p>
				<p>a) Free Trials and Promotional Periods</p>
				<p>
					If a subscription commences with a free trial or a promotional period, you will have the right to cancel the subscription prior to the end of the trial or period. If we do not provide you with an online cancellation mechanism, then you may exercise this cancellation right by <a
						href="https://billing.aleforge.net/submitticket.php"
						">
						contacting us
					</a>. We will email you prior to the end of the free trial or promotional period to remind you that the trial or period is coming to an end, and to give you an opportunity to cancel before the commencement of the paid period. If you do not cancel, we will bill you at the end of the free trial or promotional
					period, and your subsequent cancellation rights will be in accordance with the terms specific to the subscription. When your free trial ends you will be upgraded to an equivalent plan for the game your free trial was ordered for at current offering rate.
				</p>
				<p>b) Alpha, Beta, or Modification (Mods) Software Usage</p>
				<p>
					Sometimes software developers or the gaming communities will provide Alpha or Beta releases or modifications (mods) of software that AleForge will provide or will work with the server software, which the customer can choose to use. Any software provided in the Alpha or Beta state will have its most stable version
					delivered. AleForge does not guarantee the functionality of any Alpha or Beta software, server modifications (mods) nor provides any SLA due to issues arising from the use of Alpha, Beta, or Modifications (mods) including but not limited to:
				</p>
				<li>Alpha or Beta software updates</li>
				<li>Customer mod installation to a server (eg: tModloader mods, Factorio mods, etc...)</li>
				<li>Manual modifications to server config files</li>
				<p>
					AleForge does not provide any refunds for issues resulting from the customers' use of Alpha or Beta software or the use of modifications (mods) installed in stable server software. AleForge recommends customers use stable software releases and includes Alpha and Beta releases as an option, but customers should not
					use them for production or critical workloads.
				</p>
				<p><strong>III. Payments</strong></p>
				<p>a) Payments</p>
				<p>
					Fees are payable in advance on the first day of each billing cycle. Customer’s billing cycle shall be dictated on the order, generally in a cycle of months, beginning on the service commencement date. AleForge may require payment for the first billing cycle before beginning service. If the order provides for
					credit/debit card billing, customer authorizes AleForge to bill subsequent fees to the credit/debit card on, after, or up to three days before the first day of each successive billing cycle during the term of this agreement; otherwise AleForge will invoice Customer via electronic mail to the primary customer
					contact listed on the order. Invoiced fees will be issued at least 7 days before the 1st day of each billing cycle, and the fees shall be due on the invoice date, but in no event earlier than the first day of each billing cycle.
				</p>
				<p>
					Customer is responsible for providing AleForge with changes to billing information (such as credit card expiration, change in billing address, etc). AleForge LLC may suspend the service without notice if payment for the service is overdue. Fees not disputed within sixty (60) days of due date are conclusively
					deemed accurate. Customer agrees to pay AleForge’s reasonable costs of collection of overdue amounts, including collection agency fees, dispute/chargeback fees, attorney fees and court costs where applicable.
				</p>
				<p>
					While AleForge provides the best effort for setting up and canceling a customer's PayPal subscriptions, it is ultimately the customer's responsibility to ensure that only one subscription is created per order and if a subscription is created, that the PayPal Subscription associated with the order is canceled when
					the customer is done using AleForge's services. Payments sent from a PayPal Subscription in error or for a canceled order will be credited to the customer's account as an account credit and is non-refundable.
				</p>
				<p>b) Fee Increases</p>
				<p>
					AleForge may increase its fees for services effective the first day of a renewal term by giving notice to customer of the new fees at least forty-five (45) days prior to the beginning of the renewal term, and if customer does not give a notice of non-renewal as provided in Section II (Service Term) above, the
					customer shall be deemed to have accepted the new fee for that renewal term and any subsequent renewal terms (unless the fees are increased in the same manner for a subsequent renewal term). Fee increases due to currency rate fluctuations (as detailed in section IIIf) will not yield any notice to customers.
				</p>
				<p>c) Taxes</p>
				<p>At AleForge’s request, Customer shall remit to AleForge all sales, VAT or similar tax imposed on the provision of the services (but not in the nature of an innate tax on AleForge), regardless of whether AleForge fails to collect the tax at the time the related services are provided.</p>
				<p>d) Early Termination</p>
				<p>
					Customer acknowledges that AleForge may terminate the service agreement at any time if the customer violates this agreement or the Acceptable Use Policy, which is hereby incorporated by reference in this agreement. Customer acknowledges that the amount of the fee for the service is based on customer’s agreement to
					pay the fee for the entire initial term, or renewal term, as applicable. In the event AleForge terminates the agreement for customer’s breach of the agreement in accordance with Section IV(b) (Termination of Service), or customer terminates the service other than in accordance with Section IV(b) (Termination of
					Service) for AleForge’s breach, the unpaid fees for each billing cycle remaining in the Initial Term or then-current renewal term, as applicable, are due on the business day following termination of the agreement.
				</p>
				<p>e) Promotions</p>
				<p>Any promotions offered by AleForge are valid where stocks last. AleForge does not guarantee the availability of any given promotion and reserves the right to add, remove or modify any promotion at any time without notification, and for any or no reason.</p>
				<p>f) Currencies</p>
				<p>AleForge base all pricing schemata from US Dollars (USD). Due to this, prices in other currencies may fluctuate rapidly at any time, for any or no reason, including during an ongoing billing period. AleForge will additionally pad any foreign currency pricing schema to account for additional processing fees.</p>
				<p>g) Refunds</p>
				<p>
					We pride ourselves in providing the best in high-performance services. We understand there is nothing worse than spending your hard-earned cash and being disappointed by your purchase. We also know that running your own game server/VPS/dedicated/web-hosting can be a daunting task that overwhelms many people, and
					with that, we also believe in treating our customers with a fair and reasonable guarantee that they’ll be satisfied with the service we provide. Whilst the situations below may describe various ways of appropriating a full or partial refund, AleForge reserves the right to decline a refund request for any or no
					reason at its sole discretion.
				</p>
				<p>The full refund policy can be found <a href="refund-policy">here</a>.</p>
				<p>h) Renewal Notices</p>
				<p>AleForge sends renewal notices/invoices on the following schedule:</p>
				<ul>
					<li>Monthly - 7 days before the due date</li>
					<li>Quarterly - 10 days before the due date</li>
					<li>Semi-Annually - 14 days before the due date</li>
					<li>Annually, Biennially, and Triennially - 30 days before the due date</li>
					<li>Domains - 60 days before the due date</li>
				</ul>
				<p><strong>IV. Suspension/Termination</strong></p>
				<p>a) Suspension of Service</p>
				<p>Customer agrees that AleForge may suspend or terminate services to the customer without notice and without liability if:</p>
				<p>
					(i) AleForge reasonably believes that the services are being used in violation of the Acceptable Use Policy<br />(ii) Customer fails to cooperate with any reasonable investigation of any suspected violation of the Acceptable Use Policy<br />(iii) AleForge reasonably believes that the suspension of service is
					necessary to protect its network or its other customers<br />or (iv) as requested by law enforcement or regulatory agency<br />Customer shall pay AleForge reasonable reinstatement fee if service is reinstituted following a suspension of service under this subsection.
				</p>
				<p>b) Termination of Service</p>
				<p>
					The agreement may be terminated by customer prior to the expiration of the initial term or any renewal term without further notice and without liability if AleForge fails in a material way to provide the service in accordance with the terms of the agreement and does not cure the failure within ten (10) days of
					Customer’s written notice describing the failure in reasonable detail. The agreement may be terminated by AleForge prior to the expiration of the initial term or any renewal term without further notice and without liability as follows:
				</p>
				<p>
					(i) upon ten (10) days notice if the customer is overdue on the payment of any amount due under the agreement<br />(ii) Customer materially violates any other provision of the agreement, including the Acceptable Use Policy, and fails to cure the violation within thirty (30) days of a written notice from AleForge
					LLC describing the violation in reasonable detail<br />(iii) upon one (1) days notice if customer’s service is used in violation of a material term of the Acceptable Use Policy more than once<br />or (iv) upon one (1) days notice if the customer violates Section X (Customer Information) of this agreement<br
					/>Either party may terminate this Agreement upon ten (10) days advance notice if the other party admits insolvency, makes an assignment for the benefit of its creditors, files for bankruptcy or similar protection, is unable to pay debts as they become due, has a trustee or receiver appointed over all or a
					substantial portion of its assets, or enters into an agreement for the extension or readjustment of all or substantially all of its obligations.
				</p>
				<p>V. User Accounts</p>
				<p>
					a) When you register for the Services, You will choose a login (email) and password. You may use the Services or modify Your data and content only through such user ID and password. You are entirely responsible for maintaining the confidentiality of Your user ID and password and for any and all activities which
					occur using those credentials. You agree to immediately notify Us of any unauthorized use of Your account or any other breach of security known to You.
				</p>
				<p>
					b) You must provide Us with a primary email address that is checked regularly and frequently. All notices and communications between Us will be sent to the email address you provide, and You are therefore required to keep this address current or notify Us if Your address changes. You should notify Us if any of
					Your contact and/or billing information changes so that We may update Your account. It is also Your responsibility to make sure that Our domain(s), aleforge.net, are not included in any spam block list used by You or Your mail provider.
				</p>
				<p>c) Providing false or inaccurate contact information of any kind may result in the Termination for Cause of Your account per Section 2 of this Agreement.</p>
				<p>
					d) You are responsible for all activity transpiring under Your account. We therefore highly recommend that you secure file, directory, and script permissions to the most restrictive settings possible. You agree that you have the technical ability to properly operate a web site and that You are responsible for any
					actions performed under Your account, including but not limited to, damage caused to Your site, AleForge’s site and/or equipment, and any other site.
				</p>
				<p><strong>VI. Intellectual Property Rights</strong></p>
				<p>All Services provided by AleForge may only be used for lawful purposes.</p>
				<p>
					a) As between You and AleForge, AleForge acknowledges that it claims no proprietary rights in or to the content (including without limitation, text, software, music, sound, audiovisual works, motion pictures, photographs, animation, video, and graphics) supplied by You for use on Your web site (“Your Content”).
					You hereby grant to AleForge a non-exclusive, worldwide and royalty-free license to copy, make derivative works, display, perform, use, broadcast and transmit on and via the Internet Your Content, solely for the benefit of You and to enable AleForge to perform its obligations hereunder.
				</p>
				<p>
					b) In connection with performance of the Services and at the sole discretion of AleForge, AleForge may (but is not obligated to) provide You with certain materials, including, without limitation, computer software (in object code or source code form), data, documentation or information developed or provided by
					AleForge or its suppliers under this Agreement, domain names, electronic mail addresses and other network addresses assigned to You, and other know-how, methodologies, equipment, and processes used by AleForge to provide You with the Services (“Host Materials”). Subject to the terms and conditions of this
					Agreement, AleForge hereby grants You a limited, revocable, non-transferable, non-exclusive license to use the Host Materials solely in connection with the Services. This license terminates when this Agreement terminates. As between You and AleForge, You acknowledge and agree that AleForge owns all right, title,
					and interest or otherwise has acquired all applicable licenses for the Host Materials, and all copyright, trade secret, patent, trademark and other intellectual property rights therein. Any use of the Host Materials after termination of this Agreement is not licensed and strictly prohibited. You agree that You
					will not upload, transmit, reproduce, distribute or in any way exploit any Host Materials obtained through the Services without first obtaining the express written permission to do so from AleForge.
				</p>
				<p>c) This Agreement does not constitute a license to use AleForge’s trade names, service marks or any other trade insignia. Any use of any of AleForge’s trade names, service marks or any other trade insignia is strictly prohibited, absent AleForge’s prior written consent.</p>
				<p>
					d) If We are required to enlist the assistance of an attorney or other person to collect any liquidated damages or any other amount of money from You, or if We are required to seek the assistance of an Attorney to pursue injunctive relief against You, or if We are required to file an ICANN complaint against You in
					order to bring about the transfer of an offending URL to Us from You, then You additionally agree that You will reimburse Us for all fees incurred in order to collect these liquidated damages, or in order to seek injunctive relief from You, or in order to file and prosecute an ICANN complaint .
				</p>
				<p>e) You understand that even a nominal amount of damages may require the expenditure of extensive legal fees, travel expenses, costs, and other amounts that may dwarf the liquidated damages themselves. You agree that You will pay all of these fees and costs.</p>
				<p><strong>VII. DMCA Notice and Takedown Policy</strong></p>
				<p>
					AleForge.net (“AleForge”) implements the following DMCA Notice and Takedown Policy. AleForge respects the intellectual property rights of third parties and expects others to do the same. As part of our effort to recognize the copyrights of third parties, AleForge complies with the U.S. Digital Millennium Copyright
					Act (“DMCA”) and is therefore protected by the limitations on liability recognized by 17 U.S.C. § 512; commonly known as the “safe harbor” provisions of the DMCA. AleForge’s infringement notification procedure, counter-notification procedure, and takedown policies are set forth below.
				</p>
				<p>a) Abuse Warning</p>
				<p>
					The DMCA permits copyright owners, or their authorized agents, to submit notifications to service providers, such as AleForge, requesting that infringing material hosted on AleForge’s servers be disabled or removed. Importantly, the DMCA imposes significant penalties – including court costs and attorneys fees – on
					those who abuse the infringement notification procedure, by misrepresenting either that material is infringing or was removed by mistake. See; 17 U.S.C. § 512(f). AleForge will pursue those who abuse its DMCA notice or counter-notification procedure and will cooperate with law enforcement in any investigation of
					such abuse. Please make sure that you meet all the qualifications before submitting a DMCA Notice to our Designated Agent identified below.
				</p>
				<p><strong>V. Law and Acceptable Use Policy</strong></p>
				<p>
					Customer agrees to use the service in compliance with applicable law and the Acceptable Use Policy and agrees that AleForge may, in its reasonable commercial judgment consistent with industry standards, amend the Acceptable Use Policy from time to time to further detail or describe reasonable restrictions and
					conditions on customer’s use of the services. Amendments to the Acceptable Use Policy are effective on the earlier of AleForge, LLC’s notice to the customer that an amendment has been made, or the first day of any renewal term that begins subsequent to the amendment. Customer agrees to cooperate with AleForge’s
					reasonable investigation of any suspected violation of the Acceptable Use Policy. In the event of a dispute between AleForge and customer regarding the interpretation of the Acceptable Use Policy, AleForge’s commercially reasonable interpretation of the Acceptable Use Policy shall govern.
				</p>
				<p><strong>VIII. Multi-location Hosting</strong></p>
				<p>AleForge does not guarantee the availability of any and all host locations and reserves the right to add, move, modify, or remove any location at any time without notification. AleForge also reserves the right to deny the transfer of any account to a new location for any or no reason.</p>
				<p><strong>IX. Indemnification</strong></p>
				<p>
					Customer agrees to defend, indemnify and hold harmless AleForge its affiliates and their respective directors, officers, employees and agents from and against all claims and expenses, demands, liabilities, obligations, losses, damages, penalties, fines, punitive damages, amounts in interest, expenses and
					disbursements of any kind and nature whatsoever (including reasonable attorneys fees) brought by a third party under any theory of legal liability arising out of or related to the actual or alleged use of customer’s services in violation of applicable law or the Acceptable Use Policy by customer or any person
					using customer’s login information, regardless of whether such person has been authorized to use the services by customer.
				</p>
				<p><strong>X. Disclaimer of Warranties</strong></p>
				<p>
					AleForge does not warrant or represent that the services will be uninterrupted, error-free, or completely secure. To the extent permitted by applicable law, AleForge disclaims any and all warranties including the implied warranties of merchantability, fitness for a particular purpose, and non-infringement. To the
					extent permitted by applicable law, all services are provided on an “as is” basis.
				</p>
				<p><strong>XI. Limitation of Damages</strong></p>
				<p>
					Other than any specific cases previously discussed in this agreement, neither party shall be liable to the other for any lost profits, any indirect, special, incidental, consequential or punitive loss or damage of any kind, or for damages that could have been avoided by the use of reasonable diligence, arising in
					connection with the agreement, even if the party has been advised or should be aware of the possibility of such damages.
				</p>
				<p>
					Notwithstanding anything else in the agreement to the contrary, the maximum aggregate liability of AleForge and any of its employees, agents or affiliates, under any theory of law (including breach of contract, tort, strict liability, and infringement) shall be a payment of money not to exceed the amount payable
					by customer for three months of service.
				</p>
				<p>
					Customer acknowledges that it is solely responsible for interactions with end-users of the customer’s site or service. To the extent permitted under applicable laws, customer hereby releases AleForge from any and all claims or liability related to any product or service of an end-user, any action or inaction by
					and end-user, including end user’s failure to comply with applicable law, and any conduct or speech, whether online or offline, of any end-user.
				</p>
				<p><strong>XII. Requests for Customer Information</strong></p>
				<p>Customer agrees that AleForge may without notice to the customer:</p>
				<p>
					(i) report to the appropriate authorities any conduct by the customer that AleForge LLC reasonably and in good faith believes violates applicable law<br />(ii) provide any information that it has about a customer<br />in response to a formal or informal request from law enforcement or regulatory agency or in
					response to a formal request in a civil action that on its face meets the requirements for such a request.
				</p>
				<p><strong>XIII. Data Redundancy</strong></p>
				<p>
					Your use of AleForge’s Services is at your sole risk. This service is provided to you as a courtesy and AleForge is not responsible for files and/or data residing on your account. You agree to take full responsibility for files and data transferred and to maintain all appropriate backup of files and data stored on
					AleForge’s servers. Any and all backup services provided by AleForge, whether paid or not, are offered with no warranty or guarantee of their date, accuracy, and integrity.
				</p>
				<p><strong>XIV. Network Changes</strong></p>
				<p>
					Upgrades and other changes in AleForge’s network, including, but not limited to changes in its software, hardware, and service providers, may affect the display or operation of customer’s hosted content and/or applications. AleForge reserves the right to change its network in its numerically reasonable discretion,
					and AleForge shall not be liable for any resulting harm to the customer.
				</p>
				<p><strong>XV. Customer Credit</strong></p>
				<p>Customer credit can not be paid out in any form, to any bank account or services, unless in extenuating circumstances that have been pre-approved by AleForge Administration.</p>
				<p><strong>XVI. Domains</strong></p>
				<p>If you are registering or transferring a domain name you must also agree to the <a href="./registrant-agreement">Domain Name Registration Agreement</a>.</p>
				<p>Domain renewal reminders will be sent in advance of expiration via email to the address stored in your client area.</p>
				<p>Should an expired domain enter the redemption period, the cost of restoring the domain shall be the cost listed on our <a href="./domain-fees">fees page</a></p>
				<p>Domains shall be renewed at the same price as new registrations. The current pricing is displayed on our website.</p>
				<p><strong>XVII. Notices</strong></p>
				<p>
					Notices to AleForge under this agreement shall be given via electronic mail to the e-mail address posted for customer support on AleForge.net. Notices to the customer shall be given via electronic mail to the individual listed as the primary customer contact. Notices are deemed received on the day transmitted, and
					the customer may change this address by a notice given in accordance with this agreement.
				</p>
				<p><strong>XVIII. Force Majeure</strong></p>
				<p>
					AleForge shall not be in default of any obligation under the agreement if the failure to perform the obligation is due to any event beyond AleForge’s control, including, without limitation, significant failure of a portion of the power grid, significant failure of the internet, natural disaster, war, riot,
					insurrection, epidemic, strikes or other organized labor action, terrorist activity, or other events of a magnitude or type for which precautions are not generally taken in the industry.
				</p>
				<p><strong>XIX. Governing Law and Disputes</strong></p>
				<p>
					This agreement shall be governed by the laws of the State of Georgia, exclusive of its choice of law principles, and the laws of the United States of America, as applicable. The exclusive venue for all disputes arising out of or relating to this agreement shall be the state and federal courts in Georgia, and each
					party agrees not to dispute such personal jurisdiction and waives all objections thereto.
				</p>
			</div>
		</section>

		<Footer />
	</body>
</html>
