---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import HostingPlan from '../components/HostingPlan.astro';
import TPWidget from '../components/TPWidget.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>

    <div class="top-bg" id="gamebg-hosting">
		<Header />

        <div id="banner" class="subbanner wh-banner">
            <div class="container">
                <h1>Shared Web Hosting</h1>
                <p>Web hosting designed to provide cutting edge performance with free SSL certificates, and daily backups included by default.</p>
                <div class="row mt-4 wh-plans-row">
                    <div class="col col-lg-3">
                      <HostingPlan
                        link="https://billing.aleforge.net/cart.php?a=add&pid=98&billingcycle=triennially"
                        title="Essential"
                        img="/images/wh-plan-1.svg"
                        price="$2.95"
                        ssd="5 GB"
                        bandwidth="10 GB"
                        sites="1"
                        emails="2"
                      />
                    </div>
                    <div class="col col-lg-3">
                      <HostingPlan
                        link="https://billing.aleforge.net/cart.php?a=add&pid=98&billingcycle=triennially"
                        title="Standard"
                        img="/images/wh-plan-2.svg"
                        price="$5.95"
                        ssd="10 GB"
                        bandwidth="100 GB"
                        sites="5"
                        emails="Unlimited"
                      />
                    </div>
                    <div class="col col-lg-3">
                      <HostingPlan
                        link="https://billing.aleforge.net/cart.php?a=add&pid=98&billingcycle=triennially"
                        title="Premium"
                        img="/images/wh-plan-3.svg"
                        price="$9.95"
                        ssd="Unlimited"
                        bandwidth="Unlimited"
                        sites="Unlimited"
                        emails="Unlimited"
                      />
                    </div>
                    <div class="col col-lg-3 is-nvme is-cluster">
                      <HostingPlan
                        link="https://billing.aleforge.net/cart.php?a=add&pid=98&billingcycle=triennially"
                        title="Professional"
                        img="/images/wh-plan-4.svg"
                        price="$139.95"
                        ssd="100 GB"
                        bandwidth="10 GB"
                        sites="1"
                        emails="2"
                      />
                    </div>
                    
                </div>
                <TPWidget />
            </div>
        </div>
    </div>

    
    <section class="three-feats">
        <div class="container">
            <div class="title">
                <h2><small>Included Features</small>Affordable Web Hosting</h2>
                <p>We are redefining what is standard in web hosting. No more paying extra for backups, SSL certificates, and much more.</p>
            </div>
            <div class="row">
                <div class="col col-lg-3">
                    <img src="/images/newgs-icon-ddos.svg" alt="" class="height-50">
                    <h4>Bullet Proof Security</h4>
                    <p>All our hosting includes DDoS protection, Antivirus, Intrusion Prevention, and more at no extra cost.</p>
                </div>
                <div class="col col-lg-3">
                    <img src="/images/scheduled-backups.svg" alt="" class="height-50">
                    <h4>Daily Backups</h4>
                    <p>All of your data is backed up daily to our off-site storage and retained for 30 days and can be restored with 1 click.</p>
                </div>
                <div class="col col-lg-3">
                    <img src="/images/wp-tools.svg" alt="" class="height-50">
                    <h4>WordPress Tools</h4>
                    <p>Our web hosting platform has been developed by WordPress enthusiasts to ensure that your hosting experience is second to none.</p>
                </div>
                <div class="col col-lg-3">
                    <img src="/images/instant-setup.svg" alt="" class="height-50">
                    <h4>Instant Setup</h4>
                    <p>Your web hosting account will be deployed instantly.. Don't wait to set up your site!.</p>
                </div>
                <div class="col col-lg-3">
                    <img src="/images/email-hosting.svg" alt="" class="height-50">
                    <h4>Reliable Email Hosting</h4>
                    <p>All emails are relayed via the outstanding MailChannels SMTP service.</p>
                </div>
                <div class="col col-lg-3">
                    <img src="/images/server-importer.svg" alt="" class="height-50">
                    <h4>Site Cloning/Staging</h4>
                    <p>Modify your production site with out the risk of braking your live site.</p>
                </div>
                <div class="col col-lg-3">
                    <img src="/images/wallet.svg" alt="" class="height-50">
                    <h4>Money Back Guarantee</h4>
                    <p>If your not happy with our hosting within 30 days we will refund your purchase.</p>
                </div>
                <div class="col col-lg-3">
                    <img src="/images/newgs-icon-support.svg" alt="" class="height-50">
                    <h4>24/7 Support</h4>
                    <p>Our technical support team are on hand 24 hours a day, 7 days a week.</p>
                </div>
                <div class="col col-lg-3">
                    <img src="/images/ssl.svg" alt="" class="height-50">
                    <h4>Manage Your SSL</h4>
                    <p>Deploy free SSL Certificates to all of your sites free.</p>
                </div>
                <div class="col col-lg-3">
                    <img src="/images/newgs-icon-network.svg" alt="" class="height-50">
                    <h4>Secure Infrastructure</h4>
                    <p>Hyper secure infrastructure provided by the latest in security and network technologies.</p>
                </div>
                <div class="col col-lg-3">
                    <img src="/images/ssd.svg" alt="" class="height-50">
                    <h4>SSD Storage</h4>
                    <p>All of our hosting is backed by super fast Samsung SSD or NVMe drives.</p>
                </div>
                <div class="col col-lg-3">
                    <img src="/images/newgs-icon-locations.svg" alt="" class="height-50">
                    <h4>Central Location</h4>
                    <p>All of our hosting is backed by super fast Samsung SSD or NVMe drives.</p>
                </div>
            </div>
        </div>
    </section>


    <section class="softaculous blue-bg">
        <div class="container">
            <div class="title">
                <h2>All of Your Favorite Applications</h2>
                <p>Get started creating your new site quickly with one of our 100+ one-click installs.</p>
            </div>

            <div class="row text-center">
                <div class="col">
                    <img src="/images/wordpress.svg" class="mb-3">
                    <h4>WordPress</h4>
                </div>
                <div class="col">
                    <img src="/images/joomla.svg" class="mb-3">
                    <h4>Joomla</h4>
                </div>
                <div class="col">
                    <img src="/images/drupal.svg" class="mb-3">
                    <h4>Drupal</h4>
                </div>
                <div class="col">
                    <img src="/images/magento.svg" class="mb-3">
                    <h4>Magento</h4>
                </div>
                <div class="col">
                    <img src="/images/prestashop.svg" class="mb-3">
                    <h4>PrestaShop</h4>
                </div>
                <div class="col">
                    <img src="/images/opencart.svg" class="mb-3">
                    <h4>Open Cart</h4>
                </div>
            </div>
        </div>
    </section>

    <section class="cpanel">
        <div class="container">
            <div class="title">
                <h2>Powered by cPanel</h2>
                <p>cPanel is undoubtedly the leading web hosting control panel on the market today, designed to provide you with an unbeatable hosting experience which is fast, reliable and secure.</p>
            </div>

            <div class="flex-grid two">
                <div class="col" id="cpanel-accordions">

                    <div class="toggle">
                        <div class="toggle-title active">
                            <h3>
                                <i></i>
                                <span class="title-name"><img src="/images/ftp.webp">Browser-Based File Manager</span>
                            </h3>
                        </div>
                        <div class="toggle-inner active">
                            <p>It’s easy to use and it removes the hassles of using FTP. You can create, upload, modify or remove files from this interface.</p>
                        </div>
                    </div><!-- END OF TOGGLE -->
                    <div class="toggle">
                        <div class="toggle-title">
                            <h3>
                                <i></i>
                                <span class="title-name"><img src="/images/one-click.webp">One Click Backup and Restores</span>
                            </h3>
                        </div>
                        <div class="toggle-inner">
                            <p>Full account backups every day as standard. The ideal disaster recovery companion, completely free of charge and included with each and every account.</p>
                        </div>
                    </div><!-- END OF TOGGLE -->
                    <div class="toggle">
                        <div class="toggle-title">
                            <h3>
                                <i></i>
                                <span class="title-name"><img src="/images/email-client.webp">Outstanding Email Service</span>
                            </h3>
                        </div>
                        <div class="toggle-inner">
                            <p>Give your customers the ability to stay connected with the powerful email and calendar capabilities baked into cPanel.</p>
                        </div>
                    </div><!-- END OF TOGGLE -->
                    <div class="toggle">
                        <div class="toggle-title">
                            <h3>
                                <i></i>
                                <span class="title-name"><img src="/images/traffic-monitoring.webp">Traffic Monitoring and Statistics</span>
                            </h3>
                        </div>
                        <div class="toggle-inner">
                            <p>Understand everything that is going on with your hosting with our advanced server monitor tools built into our hosting. </p>
                        </div>
                    </div><!-- END OF TOGGLE -->
                    <div class="toggle">
                        <div class="toggle-title">
                            <h3>
                                <i></i>
                                <span class="title-name"><img src="/images/ssls.webp">Free SSL Certificates</span>
                            </h3>
                        </div>
                        <div class="toggle-inner">
                            <p>SSL Certificates are completely free of charge for all sites you create via cPanel.</p>
                        </div>
                    </div><!-- END OF TOGGLE -->
                </div>
                <div class="col text-right" id="cpanel-img">
                    <img src="/images/cpanel.webp">
                </div>
            </div>
        </div>
    </section>

    <section class="two-features">
        <div class="container">
            <div class="row">
                <div class="col border-right">
                    <h3>Free Account Transfers</h3>
                    <p>Move all of your sites with confidence in just minutes, not days.</p>
                    <a href="https://billing.aleforge.net/knowledgebase/60/AleForge-Migration-Policy.html" class="button">Learn More</a>
                </div>
                <div class="col">
                    <h3>Resource Boost</h3>
                    <p>Need more than 2 CPU Cores and 2 GB of RAM. Double your resources for $9.95/month</p>
                    <a href="https://billing.aleforge.net/knowledgebase/254/Resource-Boost.html" class="button">Learn More</a>
                </div>
            </div>
        </div>
    </section>

    <section class="hosting-features-list grey-bg mt-n1">
        <div class="container">
            <div class="title">
                <h2><small>The Nerdy Stuff</small>Technical Specifications</h2>
                <p>Ready to learn everything you needed to know about our hosting?</p>
            </div>
            <div class="row">
                <div class="col col-lg-4 pr-4 prfix">
                    <form>
                        <select id="tabselect">
                            <option value="tabs-1">Security and Malware</option>
                            <option value="tabs-2">Ultra-Fast Cloud Hosting</option>
                            <option value="tabs-3">Enterprise Backups Included</option>
                            <option value="tabs-4">Enterprise Email Service</option>
                            <option value="tabs-5">Free SSL Certificates</option>
                            <option value="tabs-6">Site Cloning and Staging</option>
                            <option value="tabs-7">Powerful Server-Side Caching</option>
                            <option value="tabs-8">99.99% Uptime Guarantee</option>
                            <option value="tabs-9">Money Back Guarantee </option>
                        </select>
                    </form>
                    <ul class="nav nav-tabs wh-tabs clearfix" role="tablist" id="home-tabs">
                        <li class="nav-item"><a data-bs-toggle="tab" href="#tabs-1" role="tab" class="nav-link active"><img src="/images/security.webp" alt=""> Security and Malware</a></li>
                        <li class="nav-item"><a data-bs-toggle="tab" href="#tabs-2" role="tab" class="nav-link"><img src="/images/fastcloud.webp" alt=""> Ultra-Fast Cloud Hosting</a></li>
                        <li class="nav-item"><a data-bs-toggle="tab" href="#tabs-3" role="tab" class="nav-link"><img src="/images/backup.webp" alt=""> Daily Backups Included</a></li>
                        <li class="nav-item"><a data-bs-toggle="tab" href="#tabs-4" role="tab" class="nav-link"><img src="/images/emails.webp" alt=""> Outstanding Email Service</a></li>
                        <li class="nav-item"><a data-bs-toggle="tab" href="#tabs-5" role="tab" class="nav-link"><img src="/images/ssls.webp" alt=""> Free SSL Certificates</a></li>
                        <li class="nav-item"><a data-bs-toggle="tab" href="#tabs-6" role="tab" class="nav-link"><img src="/images/servers-added.webp" alt=""> Staging Site</a></li>
                        <li class="nav-item"><a data-bs-toggle="tab" href="#tabs-7" role="tab" class="nav-link"><img src="/images/caching.webp" alt=""> Server-Side Caching</a></li>
                        <li class="nav-item"><a data-bs-toggle="tab" href="#tabs-8" role="tab" class="nav-link"><img src="/images/thumbsup.webp" alt=""> 99.99% Uptime Guarantee</a></li>
                        <li class="nav-item"><a data-bs-toggle="tab" href="#tabs-9" role="tab" class="nav-link"><img src="/images/wallet.webp" alt=""> Money Back Guarantee</a></li>
                    </ul>
                </div>
                <div class="col col-lg-8">
                    <div class="tab-content" id="wh-features-content">
                        <div class="tab-pane active" id="tabs-1" role="tabpanel">
                            <h5>DDoS Protection</h5>
                            <p>Enterprise-grade, always on DDoS protection ensures your sites remain online.</p>
                            <h5>Intelligent Antivirus</h5>
                            <ul class="bullet-list">
                                <li><strong>Antivirus</strong> – Our antivirus detects and blocks viruses, malware, spyware, redirects and symlinks in real-time with extreme accuracy.</li>

                                <li><strong>Auto-Clean Technology</strong> – Our malware and antivirus protection will auto repair any files which are infected via our antivirus platform. Files are automatically cleaned, and replaced to avoid outages. </li>
                            </ul>

                            <h5>Intrusion Prevention</h5>


                            <ul class="bullet-list">
                                <li><strong>Firewall</strong> – Our firewall has been designed to automatically identify and block all network, application and protocol layer attacks launched at websites and applications hosted on our platform.</li>

                                <li><strong>CMS Brute Force Protection</strong> – Our intelligent security suite protects from large scale brute force attacks from taking down your site. An essential security feature that monitors and controls distributed attacks before they affect you. </li>
                                
                                <li><strong>ModSecurity</strong> – Industry leading ModSecurity rules by Malware Expert have been expertly carved to provide intelligent, real-time protection from SQL injections, XSS, local and remote include attacks, upload vulnerabilities and more.</li>
                            </ul>

                            <h5>WordPress and CMS Vulnerability Patches</h5>
                            <p>Protect your WordPress, Joomla and Drupal website from attacks and vulnerabilities automatically, without the need for 3rd party plugins or addons.</p>
                        </div>
                        <div class="tab-pane" id="tabs-2" role="tabpanel">
                            <h5>Lightning Fast</h5>
                            <p> Litespeed Web Server to bring leading-edge performance, along with the powerful LSCache solution for your power hungry sites.</p>
                            <h5>Powerful Hardware</h5>
                            <p>All of our servers run on the latest Supermicro or Dell blades, with a minimum of 128GB DDR4 RAM using the latest Intel Xeon processors.</p>
                            <h5>Litespeed PHP</h5>
                            <p>Apache mod_lsapi is a module based on LiteSpeed Technologies API for PHP. It offers excellent PHP performance, low memory footprint coupled with great security and support for opcode caching. Litespeed PHP has been regularly benchmarked to be ‘faster than any other way to serve PHP.’</p>
                            <h5>LiteSpeed Web Server</h5>
                            <p>Our lightweight web server alternative conserves resources without sacrificing performance, security, compatibility, or convenience.</p>
                            <h5>Large Resource Limits</h5>
                            <p>Our cPanel web hosting accounts come with up to 2 CPU Cores and 2GB RAM as standard, allowing you to host your sites, blogs or e-commerce. </p>
                        </div>
                        <div class="tab-pane" id="tabs-3" role="tabpanel">
                            <h5>Free Daily Backups</h5>
                            <p>We backup all of your sites every day, with a 30 days retention period.</p>
                            <h5>Powered by JetBackup</h5>
                            <p>JetApps has rapidly become the industry leading backup and recovery solution for cPanel, giving you complete control of your backups and restores without the need to contact support.</p>
                            <h5>Off-Site Storage</h5>
                            <p>All of our backups are stored on enterprise grade hardware, outside of the our main data center for total peace of mind. We have over 10 million recovery points, spanning over a petabyte.</p>
                            <h5>Snapshot Backups</h5>
                            <p>We backup your accounts automatically, you also can create Snapshots. This is ideal if you are going to be running a large update/upgrade to your application, and want to ensure a recent restore point is available in the event of a disaster.</p>
                            <h5>Granular Recovery</h5>
                            <p>If you accidentally deleted a particular file by mistake, our backup solution gives you granular control over the recovery process, allowing you to restore individual files, databases, emails, or even DNS records – you’re in control.</p>
                        </div>
                        <div class="tab-pane" id="tabs-4" role="tabpanel">
                            <h5>MailChannels</h5>
                            <p>All of your emails are relayed via the outstanding MailChannels SMTP service. This eliminates the common ‘blacklist’ issue, where emails get delivered to spam folders, without the cost of a dedicated IP address. Read more <a href="https://billing.aleforge.net/knowledgebase/253/What-is-MailChannels.html">here</a>.</p>
                            <h5>Connectivity</h5>
                            <p>Full SSL capabilities through IMAP, POP and SMTP. Connect to your mailboxes through any device with one-click setup and auto-discovery.</p>
                            <h5>Web Mail</h5>
                            <p>Manage your mail on the go, with some of the industries leading web mail interfaces including RoundCube, SquirrelMail, and Afterlogic.</p>
                            <h5>Enterprise Grade Spam Control</h5>
                            <p>We offer SPAM protection through the industry leading ‘MagicSPAM Pro’ software for inbound mail, completely configurable through our cPanel interface.</p>
                        </div>
                        <div class="tab-pane" id="tabs-5" role="tabpanel">
                            <h5>Automatic Installation with AutoSSL</h5>
                            <p>AutoSSL will install an SSL certificate for every domain you add to your cPanel.</p>
                            <h5>Full Domain Validated SSLs</h5>
                            <p>All of the SSL certificates which are installed free of charge on our servers are fully valid 256bit encrypted offering identical encryption as paid certificates.</p>
                            <h5>Wildcard Support</h5>
                            <p>Install a single SSL to cover all subdomains, without the need to issue a new certificate each time a subdomain is added to your cPanel.</p>
                            <h5>Powered by LetsEncrypt</h5>
                            <p>LetsEncrypt is the worlds leading open certificate authority, securing over 3,000,000 domains worldwide.</p>
                            <h5>Simple Redirection</h5>
                            <p>Redirect your visitors from https to https using our interface instead of adding redirects to your .htaccess file</p>
                        </div>
                        <div class="tab-pane" id="tabs-6" role="tabpanel">
                            <h5>WordPress Staging Platform</h5>
                            <p>Our hosting infrastructure has been designed with WordPress in mind. Create ‘staging’ replicas of your website to make changes – once you are ready to go-live, simply click ‘Push to Live’ to replicate the contents to your production domain.</p>
                            <h5>Clone WordPress Installations</h5>
                            <p>Create complete clones of your WordPress sites and applications within a few clicks. Ideal if you want to create ‘template’ installs, which you can use to speed up WordPress development.</p>
                            <h5>Site Preview Domains</h5>
                            <p>Natively, cPanel does not offer any sort of ‘preview’ functionality that is compatible with WordPress. We have created our own ‘Preview Website’ plugin, available from cPanel allowing you to see your site accurately without using your hosts file.</p>
                            <p>The preview URL is white-labeled, and is therefore ideal for designers and developers who wish to provide clients a link to preview a site before go-live!</p>
                        </div>
                        <div class="tab-pane" id="tabs-7" role="tabpanel">
                            <h5>Powerful Caching </h5>
                            <p>Our LSCache caching plugin is a powerful caching solution provided by LiteSpeed Tech, making some of the world's most powerful caching methods accessible at the click of a button. We believe it is the fastest way to serve your sites, period.</p>
                            <h5>Full Page Caching from Memory</h5>
                            <p>Serve your site's dynamic content via static HTML caches, stored in memory for leading-edge performance. Full support for WordPress, Joomla, WooCommerce, and more – powered by LSCache.</p>
                            <p>Our full-page caching has been benchmarked to outperform LightSpeed Cache by 43%.</p>
                            <h5>Lightning fast</h5>
                            <p>Litespeed Web Server to bring top tier performance, along with powerful LSCache solution for your sites.</p>
                            <h5>WP Rocket Templates</h5>
                            <p>WP Rocket has been labeled the highest performing cache plugin for WordPress. Our platform has been designed to work inline with WP Rocket, to provide outstanding performance beyond the capabilities of the plugin alone. <a href="https://billing.aleforge.net/submitticket.php?step=2&deptid=1">Contact support</a> to get your WP Rocket discount for your site today.</p>
                        </div>
                        <div class="tab-pane" id="tabs-8" role="tabpanel">
                           <h5>Transparent Uptime Reports</h5>
                           <p>Our status page is updated in real-time, providing immediate access to downtime or alerts from one central location.</p>
                           <h5>DDoS Protection</h5>
                           <p>All our servers are protected from up to 1 Tbit/s of DDoS attacks utilizing a combination of Corero’s Smartwall technology and our cloud mitigation facilities.</p>
                           <h5>99.90% Financially Backed Guarantee</h5>
                           <p>Our uptime SLA entitles you to claim a percentage of your service charge in the event of a server-wide outage.</p>
                        </div>
                        <div class="tab-pane" id="tabs-9" role="tabpanel">
                            <h5>Not Happy?</h5>
                            <p>We want all of our customers to have the best experience possible while using our services. However, if for any reason you are not 100% happy with the service provided within the first 30 days, we will provide you with a full refund, no questions asked.</p>
                            <p>Your satisfaction is the key to our success – if you ever have an issue, definitely reach out to the sales team to discuss your requirements or concerns.</p>
                            <p>It is our honest view that your satisfaction is our top priority. If we are not able to meet those expectations for any reason, we would prefer you to be happy with another service provider than for you to feel forced to stay!</p>

                        </div>

                    </div>
                </div>
            </div>

        </div>
    </section>


    <section class="faq">
        <div class="container">
                    <h2>FAQ</h2>Have your own question? <a href="https://billing.aleforge.net/submitticket.php?step=2&deptid=1">Ask us here &raquo;</a>

            <div class="row mt-4 pt-2">
                <div class="col col-lg-6">
                    <div class="toggle">
                        <div class="toggle-title">
                            <h3>
                                <i></i>
                                <span class="title-name">How long does it take to setup my server?</span>
                            </h3>
                        </div>
                        <div class="toggle-inner">
                            <p>Servers are setup automagically within 60 seconds after payment is received. If there are any issues with your server deployment please open a ticket with our support and they will get you sorted out ASAP as you are our top priority.</p>
                        </div>
                    </div><!-- END OF TOGGLE -->
                    <div class="toggle">
                        <div class="toggle-title">
                            <h3>
                                <i></i>
                                <span class="title-name">How many slots am I limited to?</span>
                            </h3>
                        </div>
                        <div class="toggle-inner">
                            <p>We do not limit our customers to a specifc slot amount. Instead our customers order the amount of ram and cpu power they need and can set the slot count to their desired amount. Selling servers this way allows us to offer you a lower price than our competition and to allow you to only order exactly the resources your need.</p>
                        </div>
                    </div><!-- END OF TOGGLE -->
                    <div class="toggle">
                        <div class="toggle-title  ">
                            <h3>
                                <i></i>
                                <span class="title-name"> Do you offer dedicated IPs?</span>
                            </h3>
                        </div>
                        <div class="toggle-inner">
                            <p>Yes, we have dedicated IPs available at checkout. If you purchase a dedicated IP please open a ticket request the setup of the address after your payment has processed.</p>
                        </div>
                    </div><!-- END OF TOGGLE -->
                    <div class="toggle">
                        <div class="toggle-title  ">
                            <h3>
                                <i></i>
                                <span class="title-name"> Can I use mods, workshop content custom resources?</span>
                            </h3>
                        </div>
                        <div class="toggle-inner">
                            <p>Yes you can. We offer several automated tools to get you started but our support staff is standing by to assist you get your server setup exactly how you want it.</p>
                        </div>
                    </div><!-- END OF TOGGLE -->
                </div>
                <div class="col col-lg-6">
                    <div class="toggle">
                        <div class="toggle-title">
                            <h3>
                                <i></i>
                                <span class="title-name">Which control panel do you use?</span>
                            </h3>
                        </div>
                        <div class="toggle-inner">
                            <p>We use an internal maintained version of the open source Pterodactyl Panel which we heavly modify to make it easier for our cusotmers to utilize and automate many functions of operating a game server.</p>
                        </div>
                    </div><!-- END OF TOGGLE -->
                    <div class="toggle">
                        <div class="toggle-title ">
                            <h3>
                                <i></i>
                                <span class="title-name">Can I use my own save/map?</span>
                            </h3>
                        </div>
                        <div class="toggle-inner">
                            <p>Yes. if you have an existing map you want to use it can easily be uploaded to your server using our file manager.</p>
                        </div>
                    </div><!-- END OF TOGGLE -->
                    <div class="toggle">
                        <div class="toggle-title  ">
                            <h3>
                                <i></i>
                                <span class="title-name">Can I upgrade or downgrade my server?</span>
                            </h3>
                        </div>
                        <div class="toggle-inner">
                            <p>Yes. You can change your plan/resources at any time and your server will automatically have resources added or removed based on your choice.</p>
                        </div>
                    </div><!-- END OF TOGGLE -->
                    <div class="toggle">
                        <div class="toggle-title  ">
                            <h3>
                                <i></i>
                                <span class="title-name">Do you provide DDoS protection?</span>
                            </h3>
                        </div>
                        <div class="toggle-inner">
                            <p>Yes, of course! Our automated systems tackle the brunt of these attackers but if you find yourself under attack let our staff know and they will make sure additional mitigators are put in place for your server.</p>
                        </div>
                    </div><!-- END OF TOGGLE -->
                </div>
            </div>
        </div>
    </section>



		<Footer />
	</body>
</html>

