<section class="cpanel blue-bg" id="newgs-panel">
	<div class="container">
		<div class="title">
			<h2>Server Management Simplified</h2>
			<p>Our custom dwarven forged panel defines the industry standard for game server management. With our fantastic support hammering away at your issues and our affordable prices owning and operating a game server has never been simpler.</p>
		</div>
		<div class="flex-grid two">
			<div class="col" id="cpanel-img">
				<img src="/images/newgs-game-panel.webp" />
			</div>
			<div class="col" id="cpanel-accordions">
				<div class="toggle">
					<div class="toggle-title active">
						<h3>
							<i></i>
							<span class="title-name">Real-Time Statistics</span>
						</h3>
					</div>
					<div class="toggle-inner">
						<p>Monitor your server CPU, memory, and network performance instantly to spot issues before they become a significant concern.</p>
					</div>
				</div>
				<!-- END OF TOGGLE -->
				<div class="toggle">
					<div class="toggle-title">
						<h3>
							<i></i>
							<span class="title-name">Offsite Backups and Restores</span>
						</h3>
					</div>
					<div class="toggle-inner">
						<p>Ensure your server is safe from all data loss with our complementary offsite cloud backups. Back your server up on your schedule to ensure your game world is safe in the dwarven vaults.</p>
					</div>
				</div>
				<!-- END OF TOGGLE -->
				<div class="toggle">
					<div class="toggle-title">
						<h3>
							<i></i>
							<span class="title-name">One Click Mod Installers</span>
						</h3>
					</div>
					<div class="toggle-inner">
						<p>With Minecraft Java installing mods is as simple as clicking the mod pack you want installed and letting our panel do all the heavy lifting.</p>
					</div>
				</div>
				<!-- END OF TOGGLE -->
				<div class="toggle">
					<div class="toggle-title">
						<h3>
							<i></i>
							<span class="title-name">Game Swap</span>
						</h3>
					</div>
					<div class="toggle-inner">
						<p>We have you covered if you are tired of your current game. Open our Game Swap and pick another supported game to change your server instantly.</p>
					</div>
				</div>
				<!-- END OF TOGGLE -->
			</div>
		</div>
	</div>
</section>
