<div class="top-banner clearfix">
	<div class="container">
		<!--As our stock runs out overnight we will transition to backorders. Backorders will be filled within 24 hours. Check our Discord for current locations with stock. <a href="https://discord.gg/e5aRjKJ">Click Here <img src="/images/arrow-right.webp" alt=""></a>-->
		<!--Our server supply is limited. Check our Discord for current locations with stock. <a href="https://discord.gg/e5aRjKJ">Click Here <img src="/images/arrow-right.webp" alt=""></a>-->
		<!--Orders are paused for system stability until morning 1/25/24 EST for stock replenishment. Check our Discord for availability. <a href="https://discord.gg/e5aRjKJ">Click Here <img src="/images/arrow-right.webp" alt=""></a>-->
		<!--Holiday Deal: Take <strong>50% off</strong> your first billing cycle using code "<strong>HOLIDAY23</strong>".
        Ends in &nbsp;<div id="countdown"></div>
        &nbsp; <a href="https://aleforge.net/gameservers">Order Now <img src="/images/arrow-right.webp" alt=""></a>-->
		Deal: Take <strong>20% off</strong> your first month for Palworld servers at checkout. Ends in &nbsp;<div id="countdown"></div>
		&nbsp; <a href="https://aleforge.net/games/palworld">Order Now <img src="/images/arrow-right.webp" alt="" /></a>
	</div>
</div>
