<!--<div class="top-banner clearfix">
    <div class="container">
        Holiday Deal: Take <strong>50% off</strong> your first billing cycle using code "<strong>HOLIDAY23</strong>".
        Ends in &nbsp;<div id="countdown"></div>
        &nbsp; <a href="https://aleforge.net/gameservers">Order Now <img src="/images/arrow-right.webp" alt=""></a>
        Deal: Take <strong>20% off</strong> your first month for Palworld servers at checkout.
            Ends in &nbsp;<div id="countdown"></div>
            &nbsp; <a href="https://aleforge.net/games/palworld">Order Now <img src="/images/arrow-right.webp" alt=""></a>
    </div>
</div>-->