<section id="newgs-more">
    <div class="container">
      <div class="title titleleft">
          <h2>Have your own burning question?</h2>
          <p> Contact us to get the answers to the universe. The answer, as always, is 42.</p>
          </div>
      <div class="row">
        <div class="col col-lg-4">
          <div class="more-bgs chat-button">
                    <img src="/images/newgs-icon-support.svg" alt="" class="height-50">
            <h4>Live Chat</h4> 
            <p>Immediate support during our live chat hours. <br> 7am to 9pm EST</p>
            <a href="https://tawk.to/chat/5db2cec3df22d91339a10574/default">Chat With Us &rsaquo;</a>
          </div>
        </div>
        <div class="col col-lg-4">
          <div class="more-bgs">
            <img src="/images/submit-ticket.svg" alt="" class="height-50" />
            <h4>Submit a Ticket</h4>
            <p>Our 24/7 support line for all your emergencies.</p>
            <a href="https://billing.aleforge.net/submitticket.php">Submit a Ticket &rsaquo;</a>
          </div>
        </div>
        <div class="col col-lg-4">
          <div class="more-bgs">
            <img src="/images/knowledgebase.svg" alt="" class="height-50" />
            <h4>Knowledge Base</h4> 
            <p>Search for answers to all the common questions.</p>
            <a href="https://billing.aleforge.net/knowledgebase.php">Learn more &rsaquo;</a>
          </div>
        </div>
      </div>
    </div>
  </section>
