
  <section class="three-features-line text-center">
    <div class="container">
      <div class="flex-grid three">
        <div class="col border-right">
          <img src="/images/newgs-icon-moneyback.svg" alt="">
          <h4>48 Hour Guarantee</h4>
          <p>Not happy with your service? Get a full refund within 48 hours. Just let us know and we will issue a refund.</p>
        </div>
        <div class="col border-right">
          <img src="/images/newgs-icon-uptime.svg" alt="">
          <h4>99.9% Uptime Guarantee</h4>
          <p>We pamper our networks so much that we vow your server will be online 99.9% each month.</p>
        </div>
        <div class="col">
          <img src="/images/newgs-icon-support.svg" alt="">
          <h4>24/7 Technical Support</h4>
          <p>Our outstanding support staff will be happy to assist you 24/7 on one of our many support channels.</p>
        </div>
      </div>
    </div>
  </section>