<div class="flex-grid one">
	<div class="col tp-widget" id="tp-row">
		<span>Our customers say</span>
		<h2>Awesome</h2><img src="/images/fourfivestars-big.webp" class="lazyload" alt="" />
		<span><strong>4.8</strong> our of <strong>5</strong> based on <strong>100+</strong> reviews on <img src="/images/trustpilot-logo-normal.webp" class="lazyload" alt="" /></span>
	</div>
</div>
