
<div class="banner-rated tp-widget" id="tp-widget-blue">
            <span>Our customers say</span>
            <h2>Awesome</h2>
            <a href="https://www.trustpilot.com/review/aleforge.net" target="_blank"><img src="/images/trustpilot-stars.svg" alt=""></a>
            <span>
              <strong>4.9</strong> out of <strong>5.0</strong> on 
            </span>
			<a href="https://www.trustpilot.com/review/aleforge.net" target="_blank"><img src="/images/trustpilot-sm.svg" alt=""></a>
          </div>