<div class="container">
	<div class="banner-rated tp-widget" id="tp-widget-blue">
		<span class="hide-mobile">Our customers say</span>
		<h2>Awesome</h2>
		<a href="https://www.trustpilot.com/review/aleforge.net" target="_blank"><img src="/images/trustpilot-stars.svg" alt="" class="tp-widget-stars" /></a>
		<span>
			<strong>4.9</strong> out of <strong>5.0</strong> on
			<a href="https://www.trustpilot.com/review/aleforge.net" target="_blank"><img src="/images/trustpilot-sm.svg" alt="" class="va-mid tp-widget-logo" /></a>
		</span>
	</div>
</div>
